@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model RelatorioDeProcessoDeCotacaoDeFreteFiltroVm

@{
    var listaDeStatus = ((IList<StatusProcessoCotacaoVm>)ViewBag.StatusProcessoCotacao).Select(x => new SelectListItem { Value = Convert.ToString(x.Codigo), Text = x.Descricao });

}

@Html.LinhaComDuasColunas(new ColunaComDropDown<RelatorioDeProcessoDeCotacaoDeFreteFiltroVm, int?>(x => x.StatusDoProcessoDeCotacao, listaDeStatus, "CodigoStatusProcessoCotacao"),
                new ColunaComCheckBox<RelatorioDeProcessoDeCotacaoDeFreteFiltroVm, bool >(x => x.Classificacao))


@Html.LinhaComDuasColunas(new ColunaComTextBox<RelatorioDeProcessoDeCotacaoDeFreteFiltroVm, string>(x => x.DataDeValidadeInicial,"campopequeno campoDatePicker maskdata"),
    new ColunaComTextBox<RelatorioDeProcessoDeCotacaoDeFreteFiltroVm, string>(x => x.DataDeValidadeFinal, "campopequeno campoDatePicker maskdata"))
<div class="linha">
    <div class="coluna">
        @Html.HiddenFor(x => x.CodigoDoMaterial)
        @Html.LabelFor(x => x.DescricaoDoMaterial)
        @Html.TextBoxFor(x => x.DescricaoDoMaterial, new { @readonly = true, @class = "campogrande campoDesabilitado" })
        <input type="button" id="btnSelecionarProduto" class="button_visualize" />
    </div>
    <div class="coluna">
        @Html.HiddenFor(x => x.CodigoDoItinerario)
        @Html.LabelFor(x => x.DescricaoDoItinerario)
        @Html.TextBoxFor(x => x.DescricaoDoItinerario, new { @readonly = true, @class = "campogrande campoDesabilitado" })
        <input type="button" id="btnSelecionarItinerario" class="button_visualize" />
    </div>
</div>
<div class="linha">
    <div class="coluna">
        @Html.HiddenFor(x => x.CodigoDoFornecedorDaMercadoria)
        @Html.LabelFor(x => x.NomeDoFornecedorDaMercadoria)
        @Html.TextBoxFor(x => x.NomeDoFornecedorDaMercadoria, new { @readonly = true, @class = "campogrande campoDesabilitado" })
        <input type="button" id="btnSelecionarFornecedor" class="button_visualize" />
    </div>
    <div class="coluna">
        @Html.HiddenFor(x => x.CodigoDaTransportadora)
        @Html.LabelFor(x => x.NomeDaTransportadora)
        @Html.TextBoxFor(x => x.NomeDaTransportadora, new { @readonly = true, @class = "campogrande campoDesabilitado" })
        <input type="button" id="btnSelecionarTransportadora" class="button_visualize" />
    </div>
    
</div>

