@using BsBios.Portal.Common
@using BsBios.Portal.ViewModel
@{
    ViewBag.TituloDaPagina = "Relatórios de Processo de Cotação de Frete";
}
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
<fieldset>
    <legend>Relatório</legend>
    <div class="linha">
        @Html.RadioButton("RelatorioDeProcessoDeCotacaoDeFrete", (int) Enumeradores.RelatorioDeProcessosDeCotacaoDeFrete.Analitico,true)
        @Html.Label("Analítico", new{@class="labelNaLinha"})
    </div>
    <div class="linha">
        @Html.RadioButton("RelatorioDeProcessoDeCotacaoDeFrete", (int)Enumeradores.RelatorioDeProcessosDeCotacaoDeFrete.SinteticoComSoma)
        @Html.Label("Sintético com Soma", new{@class="labelNaLinha"})
    </div>
    <div class="linha">
        @Html.RadioButton("RelatorioDeProcessoDeCotacaoDeFrete", (int)Enumeradores.RelatorioDeProcessosDeCotacaoDeFrete.SinteticoComMedia)
        @Html.Label("Sintético com Média",new{@class="labelNaLinha"})
    </div>

</fieldset>
<fieldset>
    <legend>Filtros</legend>
    <form>
        @Html.Partial("_Filtro",new RelatorioAgendamentoFiltroVm{CodigoTerminal = "1000"})
        <div class="divBotao">
            <input type="submit" id="btnGerarRelatorio" value="Gerar" class="blue" />
        </div>
    </form>
</fieldset>
@section scripts
{
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarFornecedor.js")"></script>
    <script type="text/javascript">
        $(function () {
            aplicaMascaraData();
            var selecionarFornecedorDaMercadoria = new SelecionarFornecedor();
            selecionarFornecedorDaMercadoria.configurar("#CodigoDoFornecedorDaMercadoria", "#NomeDoFornecedorDaMercadoria", "divSelecionarFornecedor", "#btnSelecionarFornecedor");

            var selecionarTransportadora = new SelecionarFornecedor();
            selecionarTransportadora.configurar("#CodigoDaTransportadora", "#NomeDaTransportadora", "divSelecionarTransportadora", "#btnSelecionarTransportadora");

            $('#btnGerarRelatorio').click(function (e) {
                e.preventDefault();
                window.open('@Url.Action("GerarRelatorio","RelatorioAgendamentoVisualizacao")' + '/?' + $('form').serialize() +
                    '&RelatorioDeAgendamento=' + $('input[name=RelatorioDeAgendamento]:checked').val());
            });
        })
    </script>
}

