@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model AgendamentoDeCarregamentoCadastroVm
@{
    Layout = null;
}
<div class="divFiltros">
    <fieldset>
        <legend>Quota</legend>
        @Html.LinhaComDuasColunas(new ColunaComLabel<AgendamentoDeCarregamentoCadastroVm, string>("Terminal: ", x => x.DescricaoDoTerminal),
                 new ColunaComLabel<AgendamentoDeCarregamentoCadastroVm, string>(x => x.Cabecalho.Transportadora))
        @Html.LinhaComDuasColunas(new ColunaComLabel<AgendamentoDeCarregamentoCadastroVm, string>(x => x.Cabecalho.Material),
                 new ColunaComLabel<AgendamentoDeCarregamentoCadastroVm, string>(x => x.Cabecalho.FluxoDeCarga))
        
    </fieldset>
    <fieldset >
        <legend>Agendamento de Descarregamento</legend>
        <form id="agendamentodedescarregamento">
            @Html.HiddenFor(x => x.IdQuota)
            @Html.HiddenFor(x => x.IdAgendamento)
            
            @Html.LinhaComDuasColunas(new ColunaComTextBox<AgendamentoDeCarregamentoCadastroVm, string>(x => x.Motorista,""),
                new ColunaComTextBox<AgendamentoDeCarregamentoCadastroVm, string>(x => x.Destino, ""))

            @Html.LinhaComDuasColunas(new ColunaComTextBox<AgendamentoDeCarregamentoCadastroVm, string>(x => x.Placa,"maskplaca"),
                new ColunaComTextBox<AgendamentoDeCarregamentoCadastroVm, decimal>(x => x.Peso, "maskquantidade"))
        </form>

    </fieldset>
    <div id="divErro" class="message-error"></div>
</div>
<script type="text/javascript">
    $(function () {
        aplicaMascaraQuantidade();
        aplicaMascaraPlaca();
        var permiteEditar = '@Model.PermiteEditar'.boolean();
        if (permiteEditar || '@Model.PermiteRealizar'.boolean()) {
            $('.ui-dialog-buttonpane').show();
        } else {
            $('.ui-dialog-buttonpane').hide();
        }

        if (!'@Model.PermiteEditar'.boolean()) {
            $('#agendamentodedescarregamento').find('input')
                .attr('readonly', true)
                .addClass('campoDesabilitado');
        }
        
    })
</script>

