@using BsBios.Portal.ViewModel
@model AgendamentoDeCarregamentoCadastroVm
@{
    Layout = null;
}
<div class="divFiltros">
    <fieldset >
        <legend>Agendamento de Descarregamento</legend>
        @using(Html.BeginForm())
        {
            @Html.HiddenFor(x => x.IdQuota)
            @Html.HiddenFor(x => x.IdAgendamento)
            <div class="colunaFiltro">
                @Html.LabelFor(x => x.Placa)
                @Html.TextBoxFor(x => x.Placa)
                <p class="mensagemErro">
                    @Html.ValidationMessageFor(x => x.Placa)
                </p>
            </div>
            <div class="colunaFiltro">
                @Html.LabelFor(x => x.Peso)
                @Html.TextBoxFor(x => x.Peso,new{@class="maskquantidade"})
                <p class="mensagemErro">
                    @Html.ValidationMessageFor(x => x.Peso)
                </p>
            </div>
        }
    </fieldset>
    <div id="divErro" class="message-error"></div>
</div>
<script type="text/javascript">
    $(function () {
        aplicaMascaras();
        if (!'@Model.PermiteEditar'.boolean()) {
            $('form').find('input')
                .attr('readonly', true)
                .addClass('campoDesabilitado');
        }
        
    })
</script>

