@using BsBios.Portal.Common
@using BsBios.Portal.Infra.Model
@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model QuotaPorFornecedorVm

@{
    ViewBag.TituloDaPagina = "Agendamentos";
    var fluxoDeCarga = (Enumeradores.FluxoDeCarga)Enum.Parse(typeof(Enumeradores.FluxoDeCarga), Convert.ToString(Model.CodigoFluxoDeCarga));
    IHtmlString urlDoNovoAgendamento = null;
}
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />

<fieldset>
    <legend>Quota</legend>
    @Html.LinhaComUmaColuna(new ColunaComLabel<QuotaPorFornecedorVm, string>(x => x.Data))
    @Html.LinhaComDuasColunas(new ColunaComLabel<QuotaPorFornecedorVm, string>(x => x.DescricaoMaterial),
                              new ColunaComLabel<QuotaPorFornecedorVm, string>(x => x.FluxoDeCarga))
    <div class="linha">
        <div class="coluna">
            @Html.LabelFor(x => x.PesoTotal,new{@class="labelNaLinha"})
            <span id="lblPesoTotal">@Model.PesoTotal.ToString(Constantes.FormatoDeCampoDeQuantidade)</span>
        </div>
        <div class="coluna">
            @Html.LabelFor(x => x.PesoAgendado,new{@class="labelNaLinha"})
            <span id="lblPesoAgendado" class="labelDestaque">@Model.PesoAgendado.ToString(Constantes.FormatoDeCampoDeQuantidade)</span>
            
        </div>
    </div>
    <div class="linha">
        <div class="coluna"></div>
        <div class="coluna">
            @Html.LabelFor(x => x.PesoDisponivel,new{@class="labelNaLinha"})
            <span id="lblPesoDisponivel" class="labelDestaque">@Model.PesoDisponivel.ToString(Constantes.FormatoDeCampoDeQuantidade)</span>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Agendamentos</legend>
    @if (Model.PermiteAdicionar)
    {
        <div class="divBotao">
            <input type="button" value="Adicionar" id="btnAdicionarAgendamento" class="blue"/>
        </div>
    }
    <div id="gridAgendamentosDeCarga" class="divGrid"></div>
    <div id="divCadastroAgendamento" class="janelaModal"></div>
</fieldset>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
    <script src="@Url.Content("~/Scripts/AgendamentoDeCarga/Cadastro.js")"></script>
    <script src="@Url.Content("~/Scripts/AgendamentoDeCarga/GridAgendamentosDoDia.js")"></script>
    <script type="text/javascript">
    $(function () {
        GridAgendamentosDeCarga.ConfigurarGrid(
            {
                UrlDeLeitura: '@Url.Action("ListarPorQuota", "AgendamentoDeCarga")',
                UrlDeEdicao: '@Url.Action("EditarCadastro", "AgendamentoDeCarga")',
                UrlDeExclusao: '@Url.Action("Excluir", "AgendamentoDeCargaService")',
                IdQuota: '@Model.IdQuota'
            });

        var parametrosDoNovoAgendamento = "";


        @if (fluxoDeCarga == Enumeradores.FluxoDeCarga.Carregamento)
        {
            var usuarioConectado = (UsuarioConectado) ViewBag.UsuarioConectado;

            @:parametrosDoNovoAgendamento = '/?IdQuota=' + '@Model.IdQuota' + '&DescricaoDoTerminal=' + '@Url.Encode(Model.Terminal)' + '&Cabecalho.FluxoDeCarga=' + '@Model.FluxoDeCarga' + '&Cabecalho.Material=' + '@Model.DescricaoMaterial' + '&Cabecalho.Transportadora=' + '@Url.Encode(usuarioConectado.NomeCompleto)';
            urlDoNovoAgendamento = Html.Raw(Url.Action("NovoAgendamentoDeCarregamento", "AgendamentoDeCarga"));

            @:CadastroDeAgendamentoDeCarga.CriarDialogoAgendamentoDeCarregamento('@Url.Action("SalvarAgendamentoDeCarregamento", "AgendamentoDeCargaService")');
        }
        @if (fluxoDeCarga == Enumeradores.FluxoDeCarga.Descarregamento)
        {
            var modeloDoNovoAgendamentoDeDescarregamento = new AgendamentoDeDescarregamentoCadastroVm
            {
                IdQuota = Model.IdQuota,
                DescricaoDoTerminal = Model.Terminal,

            };

            urlDoNovoAgendamento = Html.Raw(Url.Action("NovoAgendamentoDeDescarregamento", "AgendamentoDeCarga", modeloDoNovoAgendamentoDeDescarregamento));

            @:CadastroDeAgendamentoDeCarga.CriarDialogoAgendamentoDeDescarregamento('@Url.Action("SalvarAgendamentoDeDescarregamento", "AgendamentoDeCargaService")');
        }

        $('#btnAdicionarAgendamento').click(function() {
            $('#divCadastroAgendamento').customLoad('@urlDoNovoAgendamento' + parametrosDoNovoAgendamento,
                function() {
                    jQuery.validator.unobtrusive.parse('#divCadastroAgendamento');
                });
        });

    });
    </script>

     
}

