@using BsBios.Portal.Common
@{
    ViewBag.TituloDaPagina = "Relatórios de Processo de Cotação de Frete";
}
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
<fieldset>
    <legend>Relatório</legend>
    <div class="linha">
        @Html.RadioButton("RelatorioDeOrdemDeTransporte", (int)Enumeradores.RelatorioDeOrdemDeTransporte.Resumido, true)
        @Html.Label("Resumido", new{@class="labelNaLinha"})
    </div>
    <div class="linha">
        @Html.RadioButton("RelatorioDeOrdemDeTransporte", (int)Enumeradores.RelatorioDeOrdemDeTransporte.Completo)
        @Html.Label("Completo", new{@class="labelNaLinha"})
    </div>

</fieldset>
<fieldset>
    <legend>Filtros</legend>
    <form>
        @Html.Partial("_Filtro")
        <div class="divBotao">
            <input type="submit" id="btnGerarRelatorio" value="Gerar" class="blue" />
        </div>
    </form>
</fieldset>
@section scripts
{
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarFornecedor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarProduto.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarItinerario.js")"></script>
    <script type="text/javascript">
        $(function () {
            
            aplicaMascaraData();

            var selecionarProduto = new SelecionarProduto();
            selecionarProduto.configurar('#CodigoDoMaterial', null, 'divSelecionarProduto', '#btnSelecionarProduto');

            var selecionarFornecedorDaMercadoria = new SelecionarFornecedor();
            selecionarFornecedorDaMercadoria.configurar("#CodigoDoFornecedorDaMercadoria", null, "divSelecionarFornecedor", "#btnSelecionarFornecedor");

            var selecionarTransportadora = new SelecionarFornecedor();
            selecionarTransportadora.configurar("#CodigoDaTransportadora", null, "divSelecionarTransportadora", "#btnSelecionarTransportadora");

            $('#btnGerarRelatorio').click(function (e) {
                e.preventDefault();
                window.open('@Url.Action("GerarRelatorio","RelatorioDeOrdemDeTransporteVisualizacao")' + '/?' + $('form').serialize() +
                    '&Relatorio=' + $('input[name=RelatorioDeOrdemDeTransporte]:checked').val());
            });
        })
    </script>
}

