@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoFreteCadastroVm

@{
    ViewBag.TituloDaPagina = "Cotação de Frete - Novo";
}
<div class="paginaCadastro">
    @using (Html.BeginForm()) {

        <fieldset>
            <legend></legend>

            @Html.HiddenFor(model => model.Id)
            
            <div>
                @Html.Label("Status:",new{@class="labelNaLinha"})
                @Html.Display(Model != null ? Model.DescricaoStatus : "Não Iniciado")
            </div>

            
            <div class="linha">
                <div class="coluna">
                    @Html.LabelFor(x => x.DescricaoMaterial)
                    @Html.TextBoxFor(x => x.DescricaoMaterial,new{disabled=true})
                    @Html.ValidationMessageFor(x => x.DescricaoMaterial)
                    <input type="button" id="btnSelecionarProduto" class="button_visualize" />        
                </div>
            </div>

            @{ var comboUnidadeDeMedida = new ColunaComDropDown<CotacaoFreteCadastroVm, string>(x => x.CodigoUnidadeMedida, 
                ((List<UnidadeDeMedidaCadastroVm>) ViewBag.UnidadesDeMedida)
                .Select(x => new SelectListItem() {Text = x.Descricao, Value = Convert.ToString(x.CodigoInterno), Selected = Model != null && x.CodigoInterno == Model.CodigoUnidadeMedida}),
                "CodigoUnidadeMedida");

                var quantidadeMaterial = new ColunaComEditor<CotacaoFreteCadastroVm, int>(x => x.QuantidadeMaterial);
            }
            
            @Html.LinhaComDuasColunas(quantidadeMaterial,comboUnidadeDeMedida)
            
            @Html.LinhaComUmaColuna(new ColunaComTextBox<CotacaoFreteCadastroVm, string>(x => x.DataLimiteRetorno, "campoDatePicker"))
            
            @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoFreteCadastroVm, string>(x => x.DataValidadeCotacaoInicial, "campoDatePicker"),
            new ColunaComTextBox<CotacaoFreteCadastroVm, string>(x => x.DataValidadeCotacaoFinal, "campoDatePicker"))        

            <div class="linha">
                <div class="coluna">
                    @Html.LabelFor(x => x.DescricaoItinerario)
                    @Html.TextBoxFor(x => x.DescricaoItinerario,new{disabled=true})
                    @Html.ValidationMessageFor(x => x.DescricaoItinerario)
                    <input type="button" class="button_visualize" />        
                </div>
            </div>
            

            @Html.LinhaComUmaColuna(new ColunaComTextArea<CotacaoFreteCadastroVm, string>(x => x.Requisitos))

            @Html.ValidationSummary(true)

        <div class="divBotao">
            <input type="submit" value="Salvar" class="blue" />
        </div>
        </fieldset>
    }
    <div id="divSelecionarProduto"></div>
    <div id="divSelecionarItinerario"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            
            $('#divSelecionarProduto').dialog({
                autoOpen: false,
                width: 800,
                resizable: false,
                title: 'Selecionar Produto',
                modal: true,
                buttons: {
                    "Confirmar": function () {
                        alert('confirmado');
                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#btnSelecionarProduto').click(function () {
                $('#divSelecionarProduto').load("@Url.Action("SelecionarProduto")",
                function (response, status, xhr) {
                    $('#divSelecionarProduto').dialog('open');
                });
            });
        })
        

    </script>
}
