@using BsBios.Portal.ViewModel
@model IEnumerable<RelatorioDeProcessoDeCotacaoDeFreteAnaliticoVm>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relatório de Processo de Cotação de Frete - Analítico</title>
    <link type="text/css" href="@Url.Content("~/Content/Relatorio.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/Impressao.css")" rel="stylesheet" />

</head>
<body>
    <div class="bordaDoRelatorio">
        
        @{
            RelatorioDeProcessoDeCotacaoDeFreteFiltroVm filtro = ViewBag.Filtro;
        }
        @Html.Partial("_Cabecalho", filtro)

        <table>
            <thead>
                <tr>
                    <th>@HttpUtility.HtmlDecode("Nº Cotação")</th>
                    <th>Status</th>
                    <th>Material</th>
                    <th>Quantidade</th>
                    <th>Unidade de Medida</th>
                    <th>Data Limite</th>
                    <th>Validade Inicial</th>
                    <th>Validade Final</th>
                    <th>Itinerário</th>
                    <th>@HttpUtility.HtmlDecode("Nº Contrato")</th>
                    <th>@HttpUtility.HtmlDecode("Classificação")</th>
                    <th>@HttpUtility.HtmlDecode("Cadência")</th>
                    <th>Fornecedor da Mercadoria</th>
                    <th>@HttpUtility.HtmlDecode("Depósito")</th>
                    <th>@HttpUtility.HtmlDecode("Município de Origem")</th>
                    <th>@HttpUtility.HtmlDecode("Município de Destino")</th>
                    <th>Transportadora</th>
                    <th>@HttpUtility.HtmlDecode("Município de Destino")</th>
                    <th>Valor com Impostos</th>
                    <th>Selecionado</th>
                    <th>Quantidade Liberada</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IdDoProcessoDeCotacao)</td>
                        <td>@Html.DisplayFor(modelItem => item.DescricaoDoStatus)</td>
                        <td>@Html.DisplayFor(modelItem => item.Material)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
                        <td>@Html.DisplayFor(modelItem => item.UnidadeDeMedida)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataLimiteDeRetorno)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataDeValidadeInicial)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataDeValidadeFinal)</td>
                        <td>@Html.DisplayFor(modelItem => item.Itinerario)</td>
                        <td>@Html.DisplayFor(modelItem => item.NumeroDoContrato)</td>
                        <td>@Html.DisplayFor(modelItem => item.Classificacao)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cadencia)</td>
                        <td>@Html.DisplayFor(modelItem => item.NomeDoFornecedorDaMercadoria)</td>
                        <td>@Html.DisplayFor(modelItem => item.NomeDoDeposito)</td>
                        <td>@Html.DisplayFor(modelItem => item.MunicipioDeOrigem)</td>
                        <td>@Html.DisplayFor(modelItem => item.MunicipioDeDestino)</td>
                        <td>@Html.DisplayFor(modelItem => item.Transportadora)</td>
                        <td>@Html.DisplayFor(modelItem => item.QuantidadeDisponivel)</td>
                        <td>@Html.DisplayFor(modelItem => item.ValorComImpostos)</td>
                        <td>@Html.DisplayFor(modelItem => item.Selecionado)</td>
                        <td>@Html.DisplayFor(modelItem => item.QuantidadeLiberada)</td>
                    </tr>
  
                }
                
            </tbody>
        </table>
        
    </div>
</body>
</html>
