@using BsBios.Portal.Common
@using BsBios.Portal.ViewModel
@model QuotaCadastroVm
@{
    ViewBag.TituloDaPagina = "Quota";
}
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />

<div class="paginaCadastro"> 
    <fieldset>
        <legend>Pesquisa</legend>
        @Html.Label("Data")
        @Html.TextBox("DataPesquisa","",new{@class="campoDatePicker"})
        @*        <div class="divBotao">*@
        <input type="button" id="btnPesquisar" value="Pesquisar" class="blue"/>
        @*        </div>*@
    </fieldset>
    @using (Html.BeginForm())
    {
        <div id="divCadastro">
            <fieldset>
                <legend>Dados Principais</legend>
                <div class="linha">
                    <div class="coluna">
                        @Html.LabelFor(x => x.Data)
                        @Html.TextBoxFor(x => x.Data,new{@class="campoDatePicker"})
                        @Html.ValidationMessageFor(x => x.Data)
                    </div>
                    <div class="coluna">
                        @Html.LabelFor(x => x.Terminal)
                        @Html.TextBoxFor(x => x.Terminal, new{@readonly=true,@class="campoDesabilitado"})
                        @Html.ValidationMessageFor(x => x.Terminal)
                    </div>
                </div>
            </fieldset>
            <fieldset id="fieldSetFornecedor">
                <legend>Fornecedor</legend>
                <div class="linha">
                </div>
                <div class="linha">
                    <div>
                        @Html.Hidden("CodigoFornecedor")
                        @Html.LabelFor(x => x.Fornecedor)
                        @Html.TextBoxFor(x => x.Fornecedor,new{@readonly=true,@class="campoextragrande campoDesabilitado"})
                        <input type="button" id="btnSelecionarFornecedor" class="button_visualize" />        
                        @Html.ValidationMessageFor(x=> x.Fornecedor)
                    </div>

                    <div class="coluna">
                        @Html.LabelFor(x => x.Material)
                        @Html.DropDownList("Material",((List<MaterialDeCargaVm>) ViewBag.MateriaisDeCarga)
                            .Select(x => new SelectListItem() {Text = x.Descricao, Value = Convert.ToString(x.Codigo), Selected = false}))                 
                        @Html.ValidationMessageFor(x => x.Material)

                    </div>
                    <div class="coluna">
                        @Html.LabelFor( x => x.FluxoDeCarga)
                        @Html.DropDownList("FluxoDeCarga",((List<FluxoDeCargaVm>) ViewBag.FluxosDeCarga)
                            .Select(x => new SelectListItem() {Text = x.Descricao, Value = Convert.ToString(x.Codigo), Selected = false}),
                                           new{disabled=true})     
                        
                        @Html.ValidationMessageFor(x => x.FluxoDeCarga)            
                    </div>
                    <div class="coluna">
                        @Html.LabelFor(x => x.Peso)
                        @Html.TextBoxFor(x => x.Peso,new{@class="campopequeno"})
                        @Html.ValidationMessageFor(x => x.Peso)
                    </div>
                </div>
                <div class="divBotao">
                    <input type="button" id="btnAdicionarFornecedor" value="Adicionar" class="blue" />
                    <input type="button" id="btnCancelarEdicao" value="Cancelar" @*style="visibility: hidden"*@ class="blue" />
                </div>
            </fieldset>

        </div>
    }
    <fieldset>
        <legend>Fornecedores Adicionados</legend>
        <div @*class="divGrid"*@>
            <div id="gridFornecedoresAdicionados"style="width: 785px" ></div>    
        </div>
    </fieldset>
    <fieldset>
        <legend>Operações</legend>
        <div class="divBotao">
            <input type="button" id="btnSalvar" value="Salvar" class="blue"/>
            <input type="button" id="btnCopiar" value="Copiar" class="blue"/>
        </div>
    </fieldset>
    <div id="divSelecionarFornecedor"></div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script type="text/javascript">

        var fornecedoresAdicionados = new Array();
        var indiceEdicao = -1;
        $(function () {
            
            $('#btnCancelarEdicao').hide();
            //$('#divCadastro').find('input[type!=button]').attr('disabled', true);
            $('#Material').change(function() {
                /*altera o campo "Fluxo de Carga" de acordo com o Material*/
                var codigoMaterial = $(this).val();
                if (codigoMaterial == '@Convert.ToInt16(Enumeradores.MaterialDeCarga.Soja)') {
                    $('#FluxoDeCarga').val('@Convert.ToInt16(Enumeradores.FluxoDeCarga.Descarregamento)');
                }
                if (codigoMaterial == '@Convert.ToInt16(Enumeradores.MaterialDeCarga.Farelo)') {
                    $('#FluxoDeCarga').val('@Convert.ToInt16(Enumeradores.FluxoDeCarga.Carregamento)');
                }
            });
            
            $('#Material').change();

            $('#divSelecionarFornecedor').customDialog({
                title: 'Selecionar Fornecedor',
                buttons: {
                    "Confirmar": function() {
                        if (fornecedorSelecionado == null) {
                            Mensagem.ExibirMensagemDeErro("É necessário selecionar um Fornecedor.");
                            return;
                        }
                        $('#CodigoFornecedor').val(fornecedorSelecionado.Codigo);
                        $('#Fornecedor').val(unescape(fornecedorSelecionado.Nome));
                        $(this).dialog("close");
                    },
                    "Cancelar": function() {
                        $(this).dialog("close");
                    }
                }
            });
            $('#btnSelecionarFornecedor').click(function() {

                $('#divSelecionarFornecedor').load('@Url.Action("Selecionar", "SelecionarFornecedor")'
                    + '/?Codigo=' + $('#CodigoFornecedor').val() + '&Nome=' + escape($('#Fornecedor').val()),
                    function(response, status, xhr) {
                        $('#divSelecionarFornecedor').dialog('open');
                    });
            });

            function existeQuota(quota) {
                var quotaEncontrada = false;
                $.each(fornecedoresAdicionados, function(indice, fornecedor) {
                    if (quotaEncontrada) {
                        return;
                    }
                    if (indice == indiceEdicao) {
                        return;
                    }
                    if (fornecedor.CodigoFornecedor == quota.CodigoFornecedor && fornecedor.CodigoFluxoCarga == quota.CodigoFluxoCarga) {
                        quotaEncontrada = true;
                    }
                });
                return quotaEncontrada;
            }

            function atualizaGrid() {
                var grid = $("#gridFornecedoresAdicionados").data("kendoGrid");
                grid.dataSource.read();
            }
            
            function encerrarEdicao() {
                indiceEdicao = -1;
                $('#btnAdicionarFornecedor').val('Adicionar');
                $('#btnCancelarEdicao').hide();

            }

            $('#btnCancelarEdicao').click(function() {
                encerrarEdicao();
            });
        
            $('#btnAdicionarFornecedor').click(function() {
                var form = $('form');
                if (!$(form).validate().form()) {
                    return;
                }

                var fornecedor = {
                    CodigoFornecedor: $('#CodigoFornecedor').val(),
                    NomeFornecedor: $('#Fornecedor').val(),
                    CodigoMaterial: $('#Material :selected').val(),
                    DescricaoMaterial: $('#Material :selected').text(),
                    CodigoFluxoCarga: $('#FluxoDeCarga :selected').val(),
                    DescricaoFluxoCarga: $('#FluxoDeCarga :selected').text(),
                    Peso: $('#Peso').val()
                };
                
                if (existeQuota(fornecedor)) {
                    Mensagem.ExibirMensagemDeErro("Já existe quota cadastrada para o fornecedor " + fornecedor.NomeFornecedor +
                        " e o material " + fornecedor.DescricaoMaterial + ". Edite a quota existente.");
                    return;
                } 

                if (indiceEdicao == -1) {
                    fornecedoresAdicionados.push(fornecedor);
                } else {
                    fornecedoresAdicionados[indiceEdicao] = fornecedor;
                    encerrarEdicao();
                }

                atualizaGrid();
            });

            $('#gridFornecedoresAdicionados').kendoGrid({
                dataSource: {
                    schema: {
                        data: function() { return fornecedoresAdicionados; },
                        model: {
                            id: 'Codigo',
                            fields: {
                                CodigoFornecedor: { type: "string" },
                                NomeFornecedor: { type: "string" },
                                CodigoMaterial: { type: "number" },
                                DescricaoMaterial: { type: "string" },
                                CodigoFluxoCarga: { type: "number" },
                                DescricaoFluxoCarga: { type: "string" },
                                Peso: { type: "number" }
                            }
                        }
                    }
                },
                sortable: false,
                selectable: 'row',
                columns:
                [
                    {
                        title: ' ', /*coloco um espaço para deixar o header sem título*/
                        width: 40,
                        sortable: false,
                        template: '<input type="button" class="button_edit" data-codigofornecedor="${CodigoFornecedor}"></input>'
                    },
                    {
                        title: ' ', /*coloco um espaço para deixar o header sem título*/
                        width: 40,
                        sortable: false,
                        template: '<input type="button" class="button_remove" data-codigofornecedor="${CodigoFornecedor}"></input>'
                    },
                    {
                        field: "CodigoFornecedor",
                        width: 150,
                        title: "Código"
                    },
                    {
                        field: "NomeFornecedor",
                        width: 350,
                        title: "Fornecedor"
                    },
                    {
                        field: "DescricaoMaterial",
                        width: 90,
                        title: "Material"
                    },
                    {
                        field: "DescricaoFluxoCarga",
                        width: 150,
                        title: "Fluxo de Carga"
                    },
                    {
                        width: 100,
                        field: "Peso"
                    }
                ]
            });
            
            $('#gridFornecedoresAdicionados').find('.button_remove').die('click');
            $('#gridFornecedoresAdicionados').find('.button_remove').live('click', function () {
                var indice = $(this).parents('tr:first')[0].rowIndex;
                fornecedoresAdicionados.splice(indice, 1);
                atualizaGrid();
            });

            $('#gridFornecedoresAdicionados').find('.button_edit').die('click');
            $('#gridFornecedoresAdicionados').find('.button_edit').live('click', function () {
                indiceEdicao = $(this).parents('tr:first')[0].rowIndex;
                var quota = fornecedoresAdicionados[indiceEdicao];

                $('#CodigoFornecedor').val(quota.CodigoFornecedor);
                $('#Fornecedor').val(quota.NomeFornecedor);
                $('#Material').val(quota.CodigoMaterial);
                $('#Material').change();
                $('#Peso').val(quota.Peso);

                $('#btnAdicionarFornecedor').val('Atualizar');
                $('#btnCancelarEdicao').show();
            });

            $('#btnPesquisar').click(function() {
                var dataPesquisa = $('#DataPesquisa').val();
                if (dataPesquisa == '') {
                    Mensagem.ExibirMensagemDeErro("É obrigatório preencher a data para fazer a pesquisa.");
                    return;
                }

                $.ajax({
                    url: '@Url.Action("ListarFornecedores", "Quota")',
                    type: 'GET',
                    cache: false,
                    data: {
                        DataDaQuota: dataPesquisa
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (!data.Sucesso) {
                            Mensagem.ExibirMensagemDeErro(data.Mensagem);
                            return;
                        }
                        if (data.Registros.length > 0) {
                            /* preencher os campos principais e carregar o grid via ajax*/
                            $('#Data').val($('#DataPesquisa').val());
                            $.each(data.Registros, function(indice, quota) {
                                fornecedoresAdicionados.push(quota);
                            });
                            atualizaGrid();
                        } else {
                            /*apenas liberar os campos para edição*/
                        }

                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar as quotas. Detalhe: ' + textStatus + errorThrown);
                    }
                });

            });

            $('#btnSalvar').click(function () {
                if (fornecedoresAdicionados.length == 0) {
                    Mensagem.ExibirMensagemDeErro('Deve ser adicionado pelo menos um Fornecedor antes de salvar.');
                    return;
                }

                var quotasParaSalvar = new Array();
                $.each(fornecedoresAdicionados, function(indice, quota) {
                    quotasParaSalvar.push({
                        Data: $('#Data').val(),
                        CodigoTerminal: $('#Terminal').val(),
                        CodigoMaterial: quota.CodigoMaterial,
                        CodigoFornecedor: quota.CodigoFornecedor,
                        Peso: quota.Peso
                    });
                });
                
                $.ajax({
                    url: '@Url.Action("Salvar", "QuotaSalvar")',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify(quotasParaSalvar),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        if (data.Sucesso) {
                            Mensagem.ExibirMensagemDeSucesso("As quotas foram salvas com sucesso.");
                            return;
                        }else {
                            Mensagem.ExibirMensagemDeErro(data.Mensagem);
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar as quotas. Detalhe: ' + textStatus + errorThrown);
                    }
                });



            });

        });
        
    </script>


}


