@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model ProdutoCadastroVm

@{
    ViewBag.TituloDaPagina = "Produto - Consulta";
}
@section styles
{
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
}
<div >
    <fieldset>
        <legend>Dados do Produto</legend>
        @Html.LinhaComUmaColuna(new ColunaComLabel<ProdutoCadastroVm, string>(x => x.Codigo))
        @Html.LinhaComUmaColuna(new ColunaComLabel<ProdutoCadastroVm, string>(x => x.Descricao))
        @Html.LinhaComUmaColuna(new ColunaComLabel<ProdutoCadastroVm, string>(x => x.Tipo))

    </fieldset>
    <fieldset>
        <legend>Fornecedores do Produto</legend>
        <div id="divGridFornecedoresDoProduto"  class="divGrid" style="width: 785px;"></div>

    </fieldset>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script type="text/javascript" src="~/Scripts/Cadastro/gridFornecedor.js"></script>
    <script type="text/javascript">
        $(function () {
            GridFornecedor.CarregarGrid("#divGridFornecedoresDoProduto", '@Url.Action("FornecedoresDoProduto","Produto")', false,
                function () { return {CodigoProduto:'@Model.Codigo'}; });
        });
    </script>
}
