@model BsBios.Portal.ViewModel.ProdutoCadastroVm
@{
    ViewBag.TituloDaPagina = "Produtos";
}
@section styles
{
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
}
<div id="cadastroProdutos">
    <div id="divFiltros">
        <fieldset>
            <legend>Filtros</legend>
            <div class="coluna">
                @Html.Label("Descrição")
                @Html.TextBox("Descricao","", new{@class="campogrande"})
            </div>
            <div class="divBotao">
                <input id="btnPesquisar" type="button" value="Pesquisar" class="blue"/>
                <input id="btnLimpar" type="button" value="Limpar" class="blue"/>
            </div>
        </fieldset>
    </div>
    <div id="gridProdutos" class="divGrid"></div>

</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script>
        $(document).ready(function() {
            $("#gridProdutos").customKendoGrid({
                dataSource: {
                    schema: {
                        data: 'Registros',
                        model: {
                            fields: {
                                Descricao: {type: "string"},
                                Codigo: { type: "string" },
                                Tipo: { type: "string" }
                            }
                        },
                        total: 'QuantidadeDeRegistros'
                    },
                    serverFiltering: true,
                    serverPaging: true,
                    transport: {
                        read: {
                            url: '@Url.Action("Listar", "Produto")',
                            type: 'GET',
                            cache: false,
                            data: function() {
                                return {
                                    Descricao: $('#Descricao').val()
                                };
                            }
                        }
                    },
                    pageSize: 10
                },
                columns:
                [
                    {
                        field: 'Codigo',
                        title: ' ', /*coloco um espaço para deixar o header sem título*/
                        width: 30,
                        sortable: false,
                        template: '<input type="button" class="button_visualize" data-codigoproduto="${Codigo}"></input>'
                    },
                    {
                        width: 150,
                        field: "Codigo",
                        title: "Código"
                    },
                    {
                        field: "Descricao",
                        width: 300,
                        title: "Descrição"
                    },
                    {
                        field: "Tipo",
                        width: 60
                    }

                ]
            });

            //$('#btnPesquisar').click(function() {
            //    $("#gridProdutos").data("kendoGrid").dataSource.read();
            //});

            $('#btnLimpar').click(function() {
                $('#divFiltros input[type!=button]').val('');
            });

            $('.button_visualize').die("click");
            $('.button_visualize').live("click", function(e) {
                e.preventDefault();
                location.href = '@Url.Action("Cadastro", "Produto")' + '/?codigoProduto=' + $(this).attr('data-codigoProduto');
            });
        });
    </script>
    
}
