@using BsBios.Portal.Common
@model BsBios.Portal.ViewModel.RelatorioDeProcessoDeCotacaoDeFreteFiltroVm
@{ Layout = null;}
<h2>@ViewBag.TituloDoRelatorio</h2>
<hr/>
<table style="width:66%">
    <tr>
        <td>
            @Html.Label("Status: ",new{@class="labelNaLinha"})
            @Html.Label(Model.Status.HasValue ? 
                ((Enumeradores.StatusProcessoCotacao) Enum.Parse(typeof(Enumeradores.StatusProcessoCotacao),Convert.ToString(Model.Status.Value))).Descricao()
                : "Todos",new{@class="labelNaLinha"})
        </td>
        <td>
            @Html.Label("Classificação: ",new{@class="labelNaLinha"})
            @Html.Label(((Enumeradores.EscolhaSimples)Enum.Parse(typeof(Enumeradores.EscolhaSimples), Convert.ToString(Model.Classificacao))).Descricao(), new { @class = "labelNaLinha" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Data de Validade Inicial: ",new{@class="labelNaLinha"})
            @Html.Label(string.IsNullOrEmpty(Model.DataDeValidadeInicial) ? "Todas" : Model.DataDeValidadeInicial ,   new{@class="labelNaLinha"})
        </td>
        <td>
            @Html.Label("Data de Validade Final: ", new { @class = "labelNaLinha" })
            @Html.Label(string.IsNullOrEmpty(Model.DataDeValidadeFinal) ? "Todas" : Model.DataDeValidadeFinal, new { @class = "labelNaLinha" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Código do Material: ",new{@class="labelNaLinha"})
            @Html.Label(string.IsNullOrEmpty(Model.CodigoDoMaterial)? "Todos": Model.CodigoDoMaterial,new{@class="labelNaLinha"})
        </td>
        <td>
            @Html.Label("Nome do Material: ", new { @class = "labelNaLinha" })
            @Html.Label(string.IsNullOrEmpty(Model.DescricaoDoMaterial) ? "Todos" : Model.DescricaoDoMaterial, new { @class = "labelNaLinha" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.Label("Código do Fornecedor da Mercadoria: ", new { @class = "labelNaLinha" })
            @Html.Label(string.IsNullOrEmpty(Model.CodigoDoFornecedorDaMercadoria) ? "Todos" : Model.CodigoDoFornecedorDaMercadoria, new { @class = "labelNaLinha" })
        </td>
        <td>
            @Html.Label("Nome do Fornecedor da Mercadoria: ", new { @class = "labelNaLinha" })
            @Html.Label(string.IsNullOrEmpty(Model.NomeDoFornecedorDaMercadoria) ? "Todos" : Model.NomeDoFornecedorDaMercadoria, new { @class = "labelNaLinha" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.Label("Código da Transportadora: ", new { @class = "labelNaLinha" })
            @Html.Label(string.IsNullOrEmpty(Model.CodigoDaTransportadora) ? "Todos" : Model.CodigoDaTransportadora, new { @class = "labelNaLinha" })
        </td>
        <td>
            @Html.Label("Nome da Transportadora: ", new { @class = "labelNaLinha" })
            @Html.Label(string.IsNullOrEmpty(Model.NomeDaTransportadora) ? "Todos" : Model.NomeDaTransportadora, new { @class = "labelNaLinha" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.Label("Itinerário: ", new { @class = "labelNaLinha" })
            @Html.Label(string.IsNullOrEmpty(Model.DescricaoDoItinerario) ? "Todos" : Model.DescricaoDoItinerario, new { @class = "labelNaLinha" })
        </td>
        <td>
            @Html.Label("Seleção de Fornecedores: ", new { @class = "labelNaLinha" })
            @Html.Label(((Enumeradores.SelecaoDeFornecedores)Enum.Parse(typeof(Enumeradores.SelecaoDeFornecedores), Convert.ToString(Model.SelecaoDeFornecedores))).Descricao()
                , new { @class = "labelNaLinha" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.Label("Data de Fechamento: ", new { @class = "labelNaLinha" })
            @Html.Label(string.IsNullOrEmpty(Model.DataDeFechamento) ? "Todas" : Model.DataDeFechamento, new { @class = "labelNaLinha" })
        </td>
    
        <td>
            @Html.Label("Terminal: ", new { @class = "labelNaLinha" })
            @Html.Label(string.IsNullOrEmpty(Model.Terminal) ? "Todos" : Model.Terminal, new { @class = "labelNaLinha" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.Label("Gerado em " + DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss"))
        </td>
        <td></td>
        
    </tr>
</table>
<hr/>
