<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />

<div id="gridCotacaoFornecedor" style="clear: both"></div>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
<script>
    $(document).ready(function() {
        $("#gridCotacaoFornecedor").kendoGrid({
            dataSource: {
                schema: {
                    data: 'Registros',
                    model: {
                        id: 'Id',
                        fields: {
                            Codigo: {type: "string"},
                            Nome: {type: "string"},
                            Selecionado: {type: "string"},
                            ValorLiquido: {type: "number"},
                            ValorComImpostos: {type: "number"}
                        }
                    }
                },
                serverFiltering: true,
                serverPaging: true,
                transport: {
                    read: {
                        url: '@Url.Action("ListarCotacoesResumido", "ProcessoCotacaoMaterial",new{idProcessoCotacao = ViewData["IdProcessoCotacao"]})',
                        type: 'GET',
                        cache: false
                    }
                },
                pageSize: 5
            },
            groupable: false,
            sortable: true,
            selectable: 'row',
            columns:
            [
                {
                    width: 100,
                    field: "Codigo",
                    title: "Código"
                },
                {
                    field: "Nome",
                    width: 200,
                    title: "Nome"
                },
                {
                    field: 'Selecionado',
                    title: 'Selecionado?',
                    width: 100
                },
                {
                    field: "ValorLiquido",
                    width: 80,
                    title: "Líquido"
                },
                {
                    field: "ValorComImpostos",
                    width: 80,
                    title: "Líquido + Imp."
                }
            ]
        });

    });
</script>
