@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoImpostosVm
@{
    Layout = null;
}
<fieldset id="fieldSetImpostos">
    <legend>Impostos</legend>
    <span class="aviso">É indispensável que as alíquotas dos impostos sejam informados corretamente</span>
    @*    @Html.LinhaComUmaColuna(new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IcmsAliquota, "maskmoeda"))
    @Html.LinhaComUmaColuna(new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IpiAliquota, "maskmoeda"))
    @Html.LinhaComUmaColuna(new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.PisCofinsAliquota, "maskmoeda"))*@
    @{
        var campoAliquotaIcms = new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IcmsAliquota, "maskmoeda");
        var campoAliquotaIpi = new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IpiAliquota, "maskmoeda");
        var campoAliquotaPisCofins = new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.PisCofinsAliquota, "maskmoeda");
        bool permiteVisualizar = ViewBag.PermiteVisualizarValorDosImpostos;
        if (permiteVisualizar)
        {
            @Html.LinhaComDuasColunas(campoAliquotaIcms, 
                            new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IcmsValor, "maskmoeda campoDesabilitado"))

            @Html.LinhaComDuasColunas(campoAliquotaIpi,
                                      new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IpiValor, "maskmoeda  campoDesabilitado"))
            @Html.LinhaComDuasColunas(campoAliquotaPisCofins,
            new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.PisCofinsValor, "maskmoeda campoDesabilitado"))
        }
        else
        {
            @Html.LinhaComUmaColuna(campoAliquotaIcms)
            @Html.LinhaComUmaColuna(campoAliquotaIpi)
            @Html.LinhaComUmaColuna(campoAliquotaPisCofins)
        }    
    }
    
    @*    @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IcmsStAliquota, "maskmoeda"),
                              new ColunaComTextBox<CotacaoImpostosVm, decimal?>(x => x.IcmsStValor, "maskmoeda"))*@

</fieldset>



