<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />   
        <link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext-4.1.1a-gpl/resources/css/ext-all.css" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @*@Styles.Render("~/Content/themes/base/css")*@
    </head>
    <body>
        @Html.Partial("_Header")
        <div style="clear: both"></div>
        <div id="middle">
            <div id="menuprincipal">
                @{
                    Html.RenderAction("Menu","Home");
                }
            </div>
            <div id="body">
@*                <div style="display: block">
                    <section class="content-wrapper main-content clear-fix">*@
                        @RenderBody()
@*                    </section>
                </div>*@
            </div>
            
        </div>
        @Scripts.Render("~/bundles/jquery")
        @*@Scripts.Render("~/bundles/jqueryui")*@
        <script src="http://cdn.sencha.com/ext-4.1.1a-gpl/ext-all.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
