@using BsBios.Portal.Common
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />   
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/themes/base/css")
        </head>
    <body>
        <div id="todaPagina">
            @Html.Partial("_Header")
            <div style="clear: both"></div>
            <div id="middle">
                <div id="menuprincipal">
                    @{
                        if (ViewBag.UsuarioConectado != null)
                        {
                            Html.RenderAction("Menu", "Home");
                        }
                    }
                </div>
                <div id="body">
                    <div id="tituloPagina">
                        @ViewBag.TituloDaPagina
                    </div>
                    <div id="conteudoPrincipal">
                        @RenderBody()
                    </div>
                </div>
            
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/globalize")
        @Scripts.Render("~/bundles/scriptsgerais")
        <script type="text/javascript">
            UrlPadrao.SelecionarFornecedor = '@Url.Action("Selecionar","SelecionarFornecedor")';
            UrlPadrao.CotacaoResumida = '@Url.Action("ListarCotacoesResumido", "ProcessoCotacaoMaterial")';
            UrlPadrao.EnviarEmail = '@Url.Action("EnviarEmailDeAbertura","ProcessoDeCotacaoDeFreteEmail")';
            UrlPadrao.AtualizarFornecedoresDoProcessoDeCotacao = '@Url.Action("AtualizarFornecedores", "ProcessoDeCotacaoFornecedoresService")';
            UrlPadrao.AtualizarItensDoProcessoDeCotacao = '@Url.Action("AtualizarItens","ProcessoDeCotacaoItensService")';
            UrlPadrao.VerificarQuantidadeAdquiridaNoProcessoDeCotacao = '@Url.Action("VerificarQuantidadeAdquirida","ProcessoDeCotacaoService")';
            UrlPadrao.SelecionarFornecedores = '@Url.Action("SelecionarFornecedores", "ProcessoCotacaoMaterial")';
            UrlPadrao.SelecionarItens = '@Url.Action("SelecionarItens","ProcessoCotacaoMaterial")';
            
            UrlPadrao.SelecionarCotacoesDeMaterial = '@Url.Action("SelecionarCotacoes", "ProcessoDeCotacaoDeMaterialSelecionar")';
            UrlPadrao.AbrirTelaDeSelecaoDeCotacoesDeMaterial = '@Url.Action("SelecionarCotacoes", "ProcessoCotacaoMaterial")';
            UrlPadrao.AbrirTelaDeFechamentoDeProcessoDeCotacaoDeMaterial = '@Url.Action("FecharProcesso", "ProcessoCotacaoMaterial")';
            UrlPadrao.AbrirProcessoDeCotacaoDeMaterial = '@Url.Action("AbrirProcesso", "ProcessoDeCotacaoDeMaterialAbertura")';
            UrlPadrao.FecharProcessoDeCotacaoDeMaterial = '@Url.Action("FecharProcesso", "ProcessoDeCotacaoDeMaterialFechamento")';
            UrlPadrao.SelecionarCotacoesDeFrete = '@Url.Action("SelecionarCotacoes", "ProcessoDeCotacaoDeFreteSelecionar")';
            UrlPadrao.AbrirTelaDeSelecaoDeCotacoesDeFrete = '@Url.Action("SelecionarCotacoes", "ProcessoCotacaoFrete")';
            UrlPadrao.AbrirProcessoDeCotacaoDeFrete = '@Url.Action("AbrirProcesso", "ProcessoDeCotacaoDeFreteAbertura")';
            UrlPadrao.FecharProcessoDeCotacaoDeFrete = '@Url.Action("FecharProcesso", "ProcessoDeCotacaoDeFreteFechamento")';

            UrlPadrao.ProcessoCotacaoListarAnexos = '@Url.Action("Listar","ProcessoDeCotacaoAnexo")';
            UrlPadrao.ProcessoCotacaoDownloadAnexo = '@Url.Action("Download", "ProcessoDeCotacaoAnexo")';
            UrlPadrao.ProcessoCotacaoExcluirAnexo = '@Url.Action("Excluir","ProcessoDeCotacaoAnexo")';
            
            UrlPadrao.ListarItensDoProcessoDeCotacao = '@Url.Action("ListarItens","ProcessoCotacaoMaterial")';
            UrlPadrao.ListarRequisicoesDeCompra = '@Url.Action("Listar","RequisicaoDeCompra")';
            
            TipoDeCotacao.Material = '@((int) Enumeradores.TipoDeCotacao.Material)';
            TipoDeCotacao.Frete = '@((int) Enumeradores.TipoDeCotacao.Frete)';
        </script>
        @RenderSection("scripts", false)
    </body>
</html>
