<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" @*lang="pt-br"*@>
    <head>
        @*<meta charset="utf-8" />*@
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />   
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/themes/base/css")
    </head>
    <body>
        @Html.Partial("_Header")
        <div style="clear: both"></div>
        <div id="middle">
            <div id="menuprincipal">
                @{
                    Html.RenderAction("Menu","Home");
                }
            </div>
            <div id="body">
                <div id="tituloPagina">
                    @ViewBag.TituloDaPagina
                </div>
                <div id="conteudoPrincipal">
                    @RenderBody()
                </div>
            </div>
            
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("scripts", false)
    </body>
</html>
