@model ProcessoDeCotacaoDeFreteFiltroVm
@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@section styles
{
    <link type="text/css" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
}
<fieldset class="divFiltros">
    <legend>Filtros</legend>
    <form>
        
        @Html.LinhaComDuasColunas(new ColunaComTextBox<ProcessoDeCotacaoDeFreteFiltroVm, string>(x => x.CodigoProduto,"campomedio"),
                 new ColunaComTextBox<ProcessoDeCotacaoDeFreteFiltroVm, string>(x => x.DescricaoProduto, "campogrande"))
        
        @{
            var listaDeStatus = ((IList<StatusProcessoCotacaoVm>) ViewBag.StatusProcessoCotacao).Select(x => new SelectListItem {Value = Convert.ToString(x.Codigo),Text = x.Descricao});

        }

        @Html.LinhaComDuasColunas(new ColunaComDropDown<ProcessoDeCotacaoDeFreteFiltroVm, int?>(x => x.CodigoStatusProcessoCotacao, listaDeStatus, "CodigoStatusProcessoCotacao"),
            new ColunaComTextBox<ProcessoDeCotacaoDeFreteFiltroVm, string>(x => x.NumeroDoContrato,"campopequeno"))
        
        <div class="linha">
            <div class="coluna">
                @Html.HiddenFor(x => x.CodigoDoMunicipioDeOrigem)
                @Html.LabelFor(x => x.CodigoDoMunicipioDeOrigem)
                @Html.TextBox("NomeDoMunicipioDeOrigem", "",new {@class = "campogrande" })
            </div>
            <div class="coluna">
                @Html.LabelFor(x => x.NomeDoFornecedorDaMercadoria)
                @Html.TextBoxFor(x => x.NomeDoFornecedorDaMercadoria, new { @class = "campogrande" })
            </div>

        </div>
        @Html.LinhaComDuasColunas(new ColunaComDropDown<ProcessoDeCotacaoDeFreteFiltroVm, string>(x => x.CodigoDoTerminal,
                ((List<TerminalCadastroVm>)ViewBag.Terminais)
                .Select(x => new SelectListItem() { Text = x.Nome, Value = Convert.ToString(x.Codigo), Selected = Model != null && x.Codigo == Model.CodigoDoTerminal }),
                "CodigoDoTerminal"), new ColunaVazia<ProcessoDeCotacaoDeFreteFiltroVm, object>())


        @{
            Html.RenderPartial("_BotoesDeFiltro");
    }
</form>
</fieldset>
<div id="gridCotacaoMaterial" class="divGrid" ></div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Shared/autoCompleteDeMunicipio.js")"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            
            criarAutoCompleteDeMunicipio('#CodigoDoMunicipioDeOrigem', '#NomeDoMunicipioDeOrigem');

            var visualizacaoDaTransportadora = '@((bool)ViewBag.VisualizacaoDaTransportadora)'.boolean();
            var fields = {
                Id: {type: "number"},
                CodigoMaterial: {type: "string"},
                Material: {type: "string"},
                Quantidade: {type: "number"},
                UnidadeDeMedida: {type: "string"},
                Status: {type: "string"},
                DataTermino: { type: "string" },
                Terminal: { type: "string" }
            };

            if (visualizacaoDaTransportadora) {
                fields.Resposta = { type: "string" };
            }
            var colunas = [
                {
                    field: 'Id',
                    title: ' ', /*coloco um espaço para deixar o header sem título*/
                    width: 40,
                    sortable: false,
                    template: '<input type="button" class="button_edit" data-idprocessocotacao="${Id}"></input>'
                },
                {
                    field: 'Id',
                    title: 'Nº Cotação',
                    width: 80
                },
                {
                    field: 'Terminal',
                    width: 100
                },
                {
                    field: "CodigoMaterial",
                    width: 60,
                    title: "Código"
                }, {
                    field: "Material",
                    width: 150,
                    title: "Material"
                },
                {
                    width: 80,
                    field: "Quantidade",
                    title: "Quantidade"
                },
                {
                    width: 80,
                    field: "UnidadeDeMedida",
                    title: "Unidade"
                },
                {
                    width: 80,
                    field: "Status",
                    title: "Status"
                }
            ];

            if (visualizacaoDaTransportadora) {
                colunas.push({
                    width: 70,
                    field: "Resposta"
                });
            }

            colunas.push(
                {
                    width: 80,
                    field: "DataTermino",
                    title: "Retorno Até"
                }
            );

            $("#gridCotacaoMaterial").customKendoGrid({
                dataSource: {
                    schema: {
                        data: 'registros',
                        model: {
                            id: 'Id',
                            fields: fields
                        },
                        total: 'totalCount',
                        type: 'json'
                    },
                    transport: {
                        read: {
                            url: '@ViewData["ActionListagem"]',
                            type: 'GET',
                            cache: false,
                            data: function() {
                                return $('form').serializeObject();
                            }
                        }
                    }
                },
                scrollable:true,
                columns: colunas
            });

            $('.button_edit').die("click");
            $('.button_edit').live("click", function(e) {
                e.preventDefault();
                location.href = '@ViewData["ActionEdicao"]' + '/?idProcessoCotacao=' + $(this).attr('data-idprocessocotacao');
            });

        });
    </script>

}