@using BsBios.Portal.ViewModel
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
<fieldset class="divFiltros">
    <legend>Filtros</legend>
    <form>
        <div class="linha">
            <div class="coluna">
                @Html.Label("Codigo")
                @Html.TextBox("CodigoProduto","", new { @class = "campomedio" })
            </div>
            <div class="coluna">
                @Html.Label("Material")
                @Html.TextBox("DescricaoProduto","", new { @class = "campogrande" })
            </div>
        </div>

        <div class="linha">
            <div class="coluna">
                @Html.Label("Status")
                @Html.DropDownList("Status", ((IList<StatusProcessoCotacaoVm>)ViewBag.StatusProcessoCotacao)
                .Select(x => new SelectListItem { Value = Convert.ToString(x.Codigo), Text = x.Descricao }), "Escolha >>")
            </div>
        </div>
        <div class="divBotao">
            <input id="btnPesquisar" type="submit" value="Pesquisar" class="blue"/>
            <input id="btnLimpar" type="button" value="Limpar" class="blue"/>
        </div>
    </form>
</fieldset>
<div id="gridCotacaoMaterial" class="divGrid" ></div>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/scriptsGerais.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script>
        $(document).ready(function() {
            $("#gridCotacaoMaterial").customKendoGrid({
                dataSource: {
                    schema: {
                        data: 'registros',
                        model: {
                            id: 'Id',
                            fields: {
                                Id: {
                                    type: "number"
                                },
                                CodigoMaterial: {
                                    type: "string"
                                },
                                Material: {
                                    type: "string"
                                },
                                Quantidade: {
                                    type: "number"
                                },
                                UnidadeDeMedida: {
                                    type: "string"
                                },
                                Status: {
                                    type: "string"
                                },
                                DataTermino: {
                                    type: "string"
                                }
                            }
                        },
                        total: 'totalCount',
                        type: 'json'
                    },
                    transport: {
                        read: {
                            url: '@ViewData["ActionListagem"]',
                            type: 'GET',
                            cache: false,
                            data: function() {
                                return { CodigoProduto: $('#CodigoProduto').val(), DescricaoProduto: $('#DescricaoProduto').val(), CodigoStatusProcessoCotacao: $('#Status :selected').val() };
                            }
                        }
                    }
                },
                scrollable:true,
                columns:
                [
                    {
                        field: 'Id',
                        title: ' ', /*coloco um espaço para deixar o header sem título*/
                        width: 40,
                        sortable: false,
                        template: '<input type="button" class="button_edit" data-idprocessocotacao="${Id}"></input>'
                    },
                    {
                        field: "CodigoMaterial",
                        width: 120,
                        title: "Código"
                    }, {
                        field: "Material",
                        width: 250,
                        title: "Material"
                    },
                    {
                        width: 80,
                        field: "Quantidade",
                        title: "Quantidade"
                    },
                    {
                        width: 80,
                        field: "UnidadeDeMedida",
                        title: "Unidade"
                    },
                    {
                        width: 100,
                        field: "Status",
                        title: "Status"
                    },
                    {
                        width: 80,
                        field: "DataTermino",
                        title: "Retorno Até"
                    }
                ]
            });

            $('.button_edit').die("click");
            $('.button_edit').live("click", function(e) {
                e.preventDefault();
                location.href = '@ViewData["ActionEdicao"]' + '/?idProcessoCotacao=' + $(this).attr('data-idprocessocotacao') ;
            });

            //$('#btnPesquisar').click(function(e) {
            //    e.preventDefault();
            //    $("#gridCotacaoMaterial").data("kendoGrid").dataSource.read();
            //});

            $('#btnLimpar').click(function() {
                $('form input[type!=button][type!=submit]').val('');
                $("#Status").prop('selectedIndex', 0);
            });

        });
    </script>

}