@model BsBios.Portal.ViewModel.ItinerarioCadastroVm
@{
    Layout = null;
}
<style type="text/css">
    .colunaFiltroPequena {
        width: 33%;
        display: inline-block;
        float: left;
    }
</style>
<div id="divFiltros" class="divFiltros">
    <fieldset>
        <legend>Filtros</legend>
        <form>
            <div class="colunaFiltroPequena">
                @Html.Label("Código")
                @Html.TextBox("CodigoFiltro", "", new { @class = "campopequeno" })
            </div>
            <div class="colunaFiltroPequena">
                @Html.Label("Local 1")
                @Html.TextBox("Local1", "", new { @class = "campomedio" })
            </div>
            <div class="colunaFiltroPequena">
                @Html.Label("Local 2")
                @Html.TextBox("Local2", "", new { @class = "campomedio" })
            </div>
            <div class="divBotao">
                <input id="btnPesquisar" type="button" value="Pesquisar" class="blue" />
                <input id="btnLimpar" type="reset" value="Limpar" class="blue" />
            </div>
        </form>

    </fieldset>
</div>
<div id="gridItinerarios" class="divGrid"></div>

