@model BsBios.Portal.ViewModel.FornecedorCadastroVm

@{
    Layout = null;
}
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
<div class="divFiltros">
    <fieldset>
        <legend>Filtros</legend>
        <div class="colunaFiltro">
            @Html.Label("Código")
            @Html.TextBox("Codigo","", new{@class="campomedio"})
        </div>
        <div class="colunaFiltro">
            @Html.Label("Nome")
            @Html.TextBox("Nome","", new{@class="campomedio"})
        </div>
        <div class="divBotao">
            <input id="btnPesquisar" type="button" value="Pesquisar" class="blue"/>
            <input id="btnLimpar" type="button" value="Limpar" class="blue"/>
        </div>
    </fieldset>
</div>
<div id="gridFornecedores" class="divGrid"></div>

<script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
<script>
    var fornecedorSelecionado = null;
    @if (Model != null && !string.IsNullOrEmpty(Model.Codigo) && !string.IsNullOrEmpty(Model.Nome))
    {
        @: var fornecedorSelecionado = { Codigo: '@Model.Codigo', Nome:'@Model.Nome' };
    }
    $(document).ready(function() {
        $("#gridFornecedores").customKendoGrid({
            dataSource: {
                schema: {
                    data: 'Registros',
                    model: {
                        fields: {
                            Codigo: { type: "string" },
                            Nome: { type: "string" },
                            Cnpj: { type: "string" },
                            Municipio: { type: "string" },
                            Uf: { type: "string" },
                            Email: { type: "string" }
                        }
                    },
                    total: 'QuantidadeDeRegistros'
                },
                serverFiltering: true,
                serverPaging: true,
                transport: {
                    read: {
                        url: '@Url.Action("Listar", "Fornecedor")',
                        type: 'GET',
                        cache: false,
                        data: function() {
                            return {
                                Codigo: $('#Codigo').val(),
                                Nome: $('#Nome').val(),
                            };
                        }
                    }
                },
                pageSize: 10
            },
            dataBound: function (e) {
                if (fornecedorSelecionado != null) {
                    $('input[name=radioFornecedor][data-codigofornecedor=' + fornecedorSelecionado.Codigo + ']').attr('checked', true);
                }
            },
            columns:
            [
                {
                    field: "Codigo",
                    width: 120,
                    title: "Codigo"
                },
                {
                    field: "Nome",
                    width: 350,
                    title: "Nome"
                },
                {
                    field: "Cnpj",
                    width: 150,
                    title: "CNPJ"

                },
                {
                    width: 250,
                    field: "Email",
                    title: "E-mail"
                },
                {
                    field: "Municipio",
                    width: 150,
                    title: "Município"
                },
                {
                    field: "Uf",
                    width: 20,
                    title: "UF"
                }
            ]
        });

        $('#btnPesquisar').click(function() {
            $("#gridFornecedores").data("kendoGrid").dataSource.read();
        });

        $('#btnLimpar').click(function() {
            $('#divFiltros input[type!=button]').val('');
        });

        $('#gridFornecedores').find('input[name=radioFornecedor]').die("change");
        $('#gridFornecedores').find('input[name=radioFornecedor]').live("change", function () {
            if (!$(this).is(':checked')) {
                return;
            }
            var grid = $('#gridFornecedores').data("kendoGrid");
            var dataItem = grid.dataItem(grid.select());
            fornecedorSelecionado = { Codigo: dataItem.Codigo, Nome: dataItem.Nome};

        });

    });
</script>

