@model BsBios.Portal.ViewModel.FornecedorCadastroVm

@{
    Layout = null;
}
<div class="divFiltros">
    <fieldset>
        <legend>Filtros</legend>
        <form >
            <div class="colunaFiltro">
                @Html.Label("Código")
                @Html.TextBox("CodigoFiltro","", new{@class="campomedio"})
            </div>
            <div class="colunaFiltro">
                @Html.Label("Nome")
                @Html.TextBox("NomeFiltro","", new{@class="campomedio"})
            </div>
            <div class="divBotao">
                <input id="btnPesquisar" type="submit" value="Pesquisar" class="blue"/>
                <input id="btnLimpar" type="button" value="Limpar" class="blue"/>
            </div>
        </form>

    </fieldset>
</div>
<div id="gridFornecedores" class="divGrid"></div>

<script>
    //var fornecedorSelecionado = null;
    @if (Model != null && !string.IsNullOrEmpty(Model.Codigo) && !string.IsNullOrEmpty(Model.Nome))
    {
        @: SelecionarFornecedor.FornecedorSelecionado = { Codigo: '@Model.Codigo', Nome:'@Model.Nome' };
    }
    $(document).ready(function() {
        $("#gridFornecedores").customKendoGrid({
            dataSource: {
                schema: {
                    data: 'Registros',
                    model: {
                        fields: {
                            Codigo: { type: "string" },
                            Nome: { type: "string" },
                            Cnpj: { type: "string" },
                            Municipio: { type: "string" },
                            Uf: { type: "string" },
                            Email: { type: "string" }
                        }
                    },
                    total: 'QuantidadeDeRegistros'
                },
                serverFiltering: true,
                serverPaging: true,
                transport: {
                    read: {
                        url: '@Url.Action("Listar", "Fornecedor")',
                        type: 'GET',
                        cache: false,
                        data: function() {
                            return {
                                Codigo: $('#CodigoFiltro').val(),
                                Nome: $('#NomeFiltro').val(),
                            };
                        }
                    }
                },
                pageSize: 10
            },
            dataBound: function (e) {
                if (SelecionarFornecedor.FornecedorSelecionado != null) {
                    $('input[name=radioFornecedor][data-codigofornecedor=' + SelecionarFornecedor.FornecedorSelecionado.Codigo + ']').attr('checked', true);
                }
            },
            columns:
            [
                {
                    field: 'Codigo',
                    title: ' ', /*coloco um espaço para deixar o header sem título*/
                    width: 30,
                    sortable: false,
                    template: '<input type="radio" name="radioFornecedor" data-codigofornecedor="${Codigo}"></input>'
                },
                {
                    field: "Codigo",
                    width: 100,
                    title: "Codigo"
                },
                {
                    field: "Nome",
                    width: 320,
                    title: "Nome"
                },
                {
                    field: "Cnpj",
                    width: 140,
                    title: "CNPJ"

                },
                {
                    field: "Municipio",
                    width: 150,
                    title: "Município"
                },
                {
                    field: "Uf",
                    width: 30,
                    title: "UF"
                }
            ]
        });

        $('form').submit(function(e) {
            e.preventDefault();
        });
        //$('#btnPesquisar').click(function() {
        //    $("#gridFornecedores").data("kendoGrid").dataSource.page(1);
        //});

        $('#btnLimpar').click(function (e) {
            e.preventDefault();
            $('.divFiltros input[type!=button][type!=submit]').val('');
        });

        $('#gridFornecedores').find('input[name=radioFornecedor]').die("change");
        $('#gridFornecedores').find('input[name=radioFornecedor]').live("change", function () {
            if (!$(this).is(':checked')) {
                return;
            }
            var grid = $('#gridFornecedores').data("kendoGrid");
            var dataItem = grid.dataItem(grid.select());
            SelecionarFornecedor.FornecedorSelecionado = { Codigo: dataItem.Codigo, Nome: dataItem.Nome};

        });
    });
</script>

