@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoMaterialCadastroVm

@{
    ViewBag.TituloDaPagina = "Cotação de Material";
}
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />

<div class="paginaCadastro">
    <fieldset>
        <legend>Processo de Cotação</legend>
        @Html.LinhaComDuasColunas(new ColunaComLabel<CotacaoMaterialCadastroVm, string>(x => x.Status),
                                  new ColunaComLabel<CotacaoMaterialCadastroVm, string>(x => x.DataLimiteDeRetorno))
        @*@Html.LinhaComUmaColuna(new ColunaComLabel<CotacaoMaterialCadastroVm, string>(x => x.DescricaoDoProcessoDeCotacao))*@
        @Html.LinhaComUmaColuna(new ColunaComLabel<CotacaoMaterialCadastroVm, string>(x => x.Requisitos))
    </fieldset>
    
    @using (Html.BeginForm("Salvar", "CotacaoDeMaterialAtualizar",FormMethod.Post,new{id="formCotacao"}))
    {
        @Html.HiddenFor(model => model.IdProcessoCotacao)
        @Html.HiddenFor(model => model.CodigoFornecedor)
        @Html.HiddenFor(model => model.IdCotacao)
        
        <fieldset>
            <legend>Informações Gerais</legend>
            
            @{

                var comboIncoterm = new ColunaComDropDown<CotacaoMaterialCadastroVm, string>(x => x.CodigoIncoterm,
                                                                                             ((List<IncotermCadastroVm>)ViewBag.Incoterms)
                                                                                                 .Select(x => new SelectListItem() { Text = x.Descricao, Value = Convert.ToString(x.Codigo), Selected = Model != null && x.Codigo == Model.CodigoIncoterm }),
                                                                                             "CodigoIncoterm");
                
            }
                    
            @Html.LinhaComDuasColunas(comboIncoterm, new ColunaComTextBox<CotacaoMaterialCadastroVm, string>(x => x.DescricaoIncoterm, "campogrande"))
            
            @{
                var comboCondicaoDePagamento = new ColunaComDropDown<CotacaoMaterialCadastroVm, string>(x => x.CodigoCondicaoPagamento,
                                                                                                        ((List<CondicaoDePagamentoCadastroVm>)ViewBag.CondicoesDePagamento)
                                                                                                            .Select(x => new SelectListItem() { Text = x.Descricao, Value = Convert.ToString(x.Codigo), Selected = Model != null && x.Codigo == Model.CodigoCondicaoPagamento }),
                                                                                                        "CodigoCondicaoPagamento");

                var comboTipoDeFrete = new ColunaComDropDown<CotacaoMaterialCadastroVm, int>
                    (x => x.CodigoTipoDeFrete,
                    ((List<TipoDeFreteVm>)ViewBag.CondicoesDePagamento)
                        .Select(x => new SelectListItem()
                            {
                                Text = x.Descricao, 
                                Value = Convert.ToString(x.Codigo), 
                                Selected = Model != null && x.Codigo == Model.CodigoTipoDeFrete
                            }),"CodigoTipoDeFrete");
                                                                                                        

                @Html.LinhaComDuasColunas(comboCondicaoDePagamento,comboTipoDeFrete)
                
            }
            
            <div class="error"></div>
            <div class="divBotao">
                <input type="button" id="btnSalvarCotacao" value="Salvar" class="blue" />
            </div>
        </fieldset>
        
        
    }
        
    <fieldset id="fieldSetItens">
        <legend>Itens</legend>
        <div id="divGridItens" class="divGrid"></div>
    </fieldset>
        
    <fieldset>
        <legend>Anexos</legend>
        <div id="divAnexos" class="divGrid"></div>            
    </fieldset>

    <div id="divCotacaoItem" class="janelaModal"></div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessoDeCotacao/ProcessoDeCotacaoItensGrid.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessoDeCotacao/ProcessoDeCotacaoAnexo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
    <script type="text/javascript">
        function calculaValorLiquido() {
            var valorComImpostos = Numero.GetFloat($('#ValorComImpostos').val());
            if (valorComImpostos == 0) {
                return;
            }

            var valorIcms = Numero.GetFloat($('#IcmsValor').val());
            var valorIcmsSt = Numero.GetFloat($('#IcmsStValor').val());
            var valorIpi = Numero.GetFloat($('#IpiValor').val());

            var valorLiquido = valorComImpostos - valorIcms - valorIcmsSt - valorIpi;

            $('#ValorLiquido').val(Globalize.format(valorLiquido,"n2"));

        }

        $(function () {

            GridAnexo.Configurar($('#IdProcessoCotacao').val(), "#divAnexos", false);

            ProcessoDeCotacaoItensGrid.configurar({
                schemaData: 'Registros',
                transportUrl: UrlPadrao.ListarItensDoProcessoDeCotacao + '/?idProcessoCotacao=' + $('#IdProcessoCotacao').val(),
                renderTo: '#divGridItens',
                exibirBotaoAdicionar: false,
                exibirBotaoRemover: false,
                exibirBotaoEditar: true,
                pageable: false
            });

            $('#divGridItens').find('.button_edit').die("click");
            $('#divGridItens').find('.button_edit').live("click", function () {
                var idCotacao = $('#IdCotacao').val();
                if (idCotacao == 0) {
                    Mensagem.ExibirMensagemDeErro('Não é possível informar a cotação de um item antes de salvar as Informações Gerais.');
                    return;
                }
                var grid = $('#divGridItens').data("kendoGrid");
                var dataItem = grid.dataItem(grid.select());
                $('#divCotacaoItem').load('@Url.Action("EditarCadastro", "CotacaoMaterialItem")' 
                    + "/?idProcessoCotacao=" + $('#IdProcessoCotacao').val()
                    + "&codigoDoFornecedor=" + $('#CodigoFornecedor').val()
                    + "&numeroDaRequisicao=" + dataItem.NumeroRequisicao
                    + "&numeroDoItemDaRequisicao=" + dataItem.NumeroItem,
                    function () {
                        jQuery.validator.unobtrusive.parse('#divCotacaoItem');
                        aplicaMascaraMoeda('#divCotacaoItem');
                        aplicaMascaraQuantidade('#divCotacaoItem');
                        aplicaMascaraData('#divCotacaoItem');
                        inicializaCamposDatePicker('#divCotacaoItem');
                        $('#divCotacaoItem').dialog('open');
                    }
                );
                
            });
            
            aplicaMascaraData();
            aplicaMascaraMoeda();
            aplicaMascaraQuantidade();

            function atualizaMensagemDeErro(mensagem) {
                $('.error').html(mensagem);
            }

            $('#ValorComImpostos').die("change");
            $('#ValorComImpostos').live("change", function() {
                calculaValorLiquido();
            });

            $('#IcmsValor').die("change");
            $('#IcmsValor').live("change", function () {
                calculaValorLiquido();
            });
            
            $('#IcmsStValor').die("change");
            $('#IcmsStValor').live("change",function () {
                calculaValorLiquido();
            });
            
            $('#IpiValor').die("change");
            $('#IpiValor').live("change", function () {
                calculaValorLiquido();
            });

            $('#btnSalvarCotacao').click(function() {
                $('.error').empty();
                var form = $('#formCotacao');
                if (!$(form).validate().form()) {
                    return;
                }

                var formData = $(form).serialize();
                $.post('@Url.Action("Salvar", "CotacaoDeMaterialAtualizar")', formData,
                    function(data) {
                        if (data.Sucesso) {
                            $('#IdCotacao').val(data.IdCotacao);
                            Mensagem.ExibirMensagemDeSucesso('A cotação foi salva com sucesso.');
                        } else {
                            atualizaMensagemDeErro(data.Mensagem);
                        }
                    });

            });
            
            $('#divCotacaoItem').customDialog({
                title: 'Cotação do Item',
                buttons: {
                    "Confirmar": function () {
                        var form = $('#formCotacaoItem');
                        if (!$(form).validate().form()) {
                            return;
                        }

                        var formData = $(form).serialize();
                        $.post('@Url.Action("SalvarItem", "CotacaoDeMaterialAtualizar")', formData,
                        function (data) {
                            if (data.Sucesso) {
                                $(this).dialog("close");
                            } else {
                                Mensagem.ExibirMensagemDeErro(data.Mensagem);
                            }
                        });

                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

        });
    </script>
}

