@{
    ViewBag.TituloDaPagina = "Cotações de Material";
}
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />

<div id="gridCotacaoMaterial"></div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script>
        $(document).ready(function() {
            $("#gridCotacaoMaterial").kendoGrid({
                dataSource: {
                    schema: {
                        data: 'registros',
                        model: {
                            id: 'Id',
                            fields: {
                                Id: {
                                    type: "number"
                                },
                                CodigoMaterialSap: {
                                    type: "string"
                                },
                                Material: {
                                    type: "string"
                                },
                                Quantidade: {
                                    type: "number"
                                },
                                Unidade: {
                                    type: "string"
                                },
                                Status: {
                                    type: "string"
                                },
                                DataInicio: {
                                    type: "string"
                                },
                                DataTermino: {
                                    type: "string"
                                }
                            }
                        },
                        total: 'totalCount',
                        type: 'json'
                    },
                    serverFiltering: true,
                    serverPaging: true,
                    transport: {
                        read: {
                            url: '@Url.Action("Listar", "CotacaoMaterial")',
                            type: 'GET',
                            cache: false
                        }
                    },
                    pageSize: 5
                },
                groupable: false,
                sortable: true,
                pageable:
                {
                    refresh: true,
                    pageSizes: true,
                    messages: {
                        display: '{0} - {1} de {2} registros',
                        empty: 'Nenhum registro encontrado',
                        itemsPerPage: 'registros por página',
                        first: 'Ir para a primeira página',
                        previous: 'Ir para a página anterior',
                        next: 'Ir para a próxima página',
                        last: 'Ir para a última página',
                        refresh: 'Atualizar'
                    }
                },
                selectable: 'row',
                columns:
                [
                    {
                        field: 'Id',
                        title: ' ', /*coloco um espaço para deixar o header sem título*/
                        width: 40,
                        sortable: false,
                        template: '<input type="button" class="button_edit" data-idproduto="${Id}"></input>'
                    },
                    {
                        field: "CodigoMaterialSap",
                        width: 90,
                        title: "Codigo"
                    }, {
                        field: "Material",
                        width: 150,
                        title: "Material"
                    },
                    {
                        width: 100,
                        field: "Quantidade",
                        title: "Quantidade"
                    },
                    {
                        width: 100,
                        field: "Unidade",
                        title: "Unidade"
                    },
                    {
                        width: 100,
                        field: "Status",
                        title: "Status"
                    },
                    {
                        width: 110,
                        field: "DataInicio",
                        title: "Início"
                    },
                    {
                        width: 110,
                        field: "DataTermino",
                        title: "Término"
                    }
                ]
            });

            $('.button_edit').die("click");
            $('.button_edit').live("click", function(e) {
                e.preventDefault();
                location.href= '@Url.Action("Editar","CotacaoMaterial")';
            });

        });
    </script>

}
