@{
    Layout = null;
}
<div id="divCotacoes">
    @Html.Hidden("IdProcessoCotacaoItem", ViewData["IdProcessoCotacaoItem"])
    <div id="gridCotacoes" class="divGrid"></div>
    <div id="erro" class="error">
        @ViewData["erro"]
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var ivas = new Array();

        function geraDropDownItem(iva, valorSelecionado) {
            var selected = (iva.Codigo == valorSelecionado ? "selected" : "");
            return '<option value="' + iva.Codigo +'"'+ selected + '>'+ iva.Descricao +'</option>';
        }

        geraCombo = function (valorSelecionado, valorComImpostos) {
            var items = "";
            $.each(ivas, function (index, iva) {
                items += geraDropDownItem(iva, valorSelecionado);
            });

            return '<select name="CodigoIva" class="campopequeno" ' + (valorComImpostos == null ? "disabled":""  ) +  '>' + items + '</select>';
        };
        
        $.ajax({
            url: '@Url.Action("Listar","Iva")',
            type: 'GET',
            async:false,
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (!data.Sucesso) {
                    alert('Ocorreu um erro ao consultar os Ivas cadastrados. Detalhe: ' + data.Mensagem);
                    return;
                }
                $.each(data.Registros, function (indexInArray, valueOfElement) {
                    ivas.push(valueOfElement);
                });
                
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Ocorreu um erro ao consultar os Ivas cadastrados. Detalhe: ' + textStatus + errorThrown);
            }
        });
        
        function ajustaEnableDosCamposDaLinha(linha, checkbox) {
            if (!checkbox) {
                checkbox = $(linha).find("input[type=checkbox][name=Selecionada]");
            }
            var selecionado = $(checkbox).is(':checked');
            var campoQuantidade = $(linha).find('input[name=QuantidadeAdquirida]');
            /*var campoIva = $(linha).find('select[name=CodigoIva]');*/
            if (selecionado) {
                $(campoQuantidade).removeAttr('disabled');
                /*$(campoIva).removeAttr('disabled');*/
            } else {
                $(campoQuantidade).val('');
                $(campoQuantidade).attr('disabled', true);
                /*$(campoIva).attr('disabled', true);*/
            }
        }
      
        $("#gridCotacoes").kendoGrid({
            dataSource: {
                schema: {
                    data: 'Registros',
                    model: {
                        fields: {
                            IdCotacao: { type: "number"},
                            Selecionada: { type: "boolean" },
                            CodigoFornecedor: { type: "string" },
                            Fornecedor: { type: "string"},
                            CodigoIva: { type: "string" },
                            Preco: { type: "number"},
                            ValorComImpostos: { type: "number" },
                            QuantidadeAdquirida: { type: "number" },
                            CondicaoDePagamento: { type: "string" },
                            Incoterm: { type: "string" },
                            ValorIcms: { type: "number" },
                            ValorIcmsSt: { type: "number" },
                            ValorIpi: { type: "number" },
                            ValorPisCofins: { type: "number" }
                        }
                    },
                    type: 'json'
                },
                transport: {
                    read: {
                        url: '@Url.Action("ListarCotacoes", "ProcessoCotacaoMaterial")' +
                        '/?idProcessoCotacao=' + $('#Id').val() + 
                        "&idProcessoCotacaoItem=" + $('#IdProcessoCotacaoItem').val(),
                        type: 'GET',
                        cache: false
                    }
                }
            },
            groupable: false,
            sortable: false,
            dataBound: function (e) {
                aplicaMascaraQuantidade();
            },
            columns:
            [
                {
                    title: ' ', /*coloco um espaço para deixar o header sem título*/
                    width: 30,
                    template: '<input type="button" class="button_visualize"></input>'
                },
                {
                    field: 'IdCotacao', hidden:true,
                    template: '<input type="hidden" name="IdCotacao" value="#=IdCotacao #" ></input>'
                },
                {
                    field: "Selecionada", title: ' ', width: 30,
                    template: '<input type="checkbox" #=(ValorComImpostos == null ? "disabled":"") # name="Selecionada" #= (Selecionada) ? "checked":"" # ></input>'
                },
                {
                    field: "CodigoIva", title: "Iva", width: 160,
                    template:'#= geraCombo(CodigoIva, ValorComImpostos) #'
                },
                {
                    field: "QuantidadeAdquirida", title: "Quantidade", width: 100,
                    template: '<input type="text" #= (Selecionada ? "":"disabled") # class="campopequenogrid maskquantidade" name="QuantidadeAdquirida" value="#= (QuantidadeAdquirida == null) ? \'\' : QuantidadeAdquirida #" ></input>'
                },
                { field: "Fornecedor", width: 200 },
                { field: "Preco", title: 'Preço', width: 80, format: "{0:n2}" },
                { field: "ValorComImpostos", title: 'Preço + Imp.', width: 80, format: "{0:n2}" },
                { field: "Custo", width: 80, format: "{0:n2}" },
                { field: "ValorIcms", title: 'ICMS (R$)', width: 70, format: "{0:n2}" },
                { field: "ValorIpi", title: 'IPI (R$)', width: 70, format: "{0:n2}" },
                { field: "ValorPisCofins", title: 'Pis/Cofins (R$)', width: 100, format: "{0:n2}" },
                { field: "CondicaoDePagamento", title: 'Condição', width: 200 },
                { field: "Incoterm", width: 150 }

            ]
        });

        $('#gridCotacoes').find('.k-grid-content tbody tr').each(function () {
            ajustaEnableDosCamposDaLinha(this);
        });

        $('#gridCotacoes').find('.k-grid-content tbody').find("input[type=checkbox][name=Selecionada]").die("change");
        $('#gridCotacoes').find('.k-grid-content tbody').find("input[type=checkbox][name=Selecionada]").live("change", function () {
            var linha = $(this).parents('tr:first');
            ajustaEnableDosCamposDaLinha(linha, this);
        });
        
        $("#gridCotacoes").find('.button_visualize').die("click");
        $("#gridCotacoes").find('.button_visualize').live("click", function () {
            var grid = $("#gridCotacoes").data("kendoGrid");
            var dataItem = grid.dataItem($(this).parents('tr:first'));
            $('#divVisualizarCotacaoDoFornecedor').customLoad({url:'@Url.Action("ConsultarCadastro","CotacaoMaterial")'
                + '?idProcessoCotacao=' + $('#Id').val()
                + '&codigoFornecedor=' + dataItem.CodigoFornecedor
            });
        });

    });
</script>
