<div id="divFornecedores">
    @{
        string codigoProduto = ViewBag.CodigoProduto;
    }
    @Html.Hidden("CodigoProduto",codigoProduto)
    <ul>
        <li>
            <a href="#divFornecedoresDoProduto">Fornecedores do Produto</a>
        </li>
        <li>
            <a href="#divFornecedoresGerais">Fornecedores Gerais</a>
        </li>
    </ul>
    <div id="divFornecedoresDoProduto" style="color:red;">
        <div id="divGridFornecedoresDoProduto"></div>
    </div>
    <div id="divFornecedoresGerais" style="color:green;">
        <div id="divGridFornecedoresGerais"></div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
<script src="@Url.Content("~/Scripts/Cadastro/gridFornecedor.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var codigoProduto = $('#CodigoProduto').val();
        GridFornecedor.CarregarGrid(codigoProduto, '#divGridFornecedoresDoProduto', '@Url.Action("FornecedoresDoProduto", "Fornecedor")');
        GridFornecedor.CarregarGrid(codigoProduto, '#divGridFornecedoresGerais', '@Url.Action("FornecedoresGerais", "Fornecedor")');
        $('#divFornecedores').tabs();
    });
</script>
