@using BsBios.Portal.ViewModel
@model IList<CotacaoSelecionarVm>
@{
    Layout = null;
}
<style type="text/css">
    .selecionarCotacao {
    width: auto     
 }
#divCotacoes {
    width: 400px;
}
</style>
<div id="divCotacoes" style="font:75% Arial,Helvetica,sans-serif;">
    @Html.Hidden("IdProcessoCotacao", ViewData["IdProcessoCotacao"])
    <table id="selecionarCotacoes" class="selecionarCotacao">
        <thead>
            <tr>
                <th @*style="width: 200px"*@>Selecionada</th>
                <th @*style="width: 300px"*@>Quantidade</th>
                <th>Iva</th>
                <th>Fornecedor</th>
                <th>Valor Líquido</th>
                <th>Valor Com Impostos</th>
                <th>Condição de Pagamento</th>
                <th>Incoterm</th>
                <th>Valor ICMS</th>
                <th>Valor ICMS ST</th>
                <th>Valor IPI</th>
                <th>Valor Pis</th>
                <th>Valor Cofins</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var cotacao in Model)
            {
                <tr>
                    <td style="width: 200px!important">
                        @Html.HiddenFor(x => cotacao.IdCotacao)
                        @Html.CheckBoxFor(x => cotacao.Selecionada)
                    </td>
                    <td style="width: 300px!important">@Html.TextBoxFor(x => cotacao.QuantidadeAdquirida)</td>

                    <td>
                        @Html.DropDownList("CodigoIva", 
                    ((List<IvaCadastroVm>) ViewBag.Ivas)
                    .Select(x => new SelectListItem() {Text = x.Descricao, Value = Convert.ToString(x.Codigo), 
                        Selected = Model != null && x.Codigo == cotacao.CodigoIva}),
                    "Selecione >>")
                          
                    </td>
                    <td>@Html.LabelFor(x => cotacao.Fornecedor)</td>
                    <td>@Html.LabelFor(x => cotacao.ValorLiquido)</td>
                    <td>@Html.LabelFor(x => cotacao.ValorComImpostos)</td>
                    <td>@Html.LabelFor(x => cotacao.CondicaoDePagamento)</td>
                    <td>@Html.LabelFor(x => cotacao.Incoterm)</td>
                    <td>@Html.LabelFor(x => cotacao.ValorIcms)</td>
                    <td>@Html.LabelFor(x => cotacao.ValorIcmsSt)</td>
                    <td>@Html.LabelFor(x => cotacao.ValorIpi)</td>
                    <td>@Html.LabelFor(x => cotacao.ValorPis)</td>
                    <td>@Html.LabelFor(x => cotacao.ValorCofins)</td>
                    
                </tr>
            }
        </tbody>
    </table>
    <div id="erro" class="error">
        @ViewData["erro"]
    </div>
</div>

<script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#selecionarCotacoes").kendoGrid({
            height: 300,
            scrollable: true,
            columns: [{width:200}, {width:300}
            ]
        });
        $('#selecionarCotacoes>tbody').find("input[type=checkbox][name=Selecionada]").change(function () {
            var selecionado = $(this).is(':checked');
            var linha = $(this).parents('tr:first');
            var campoQuantidade = $(linha).find('input[name=Quantidade]');
            if (selecionado) {
                $(campoQuantidade).removeAttr('disabled');
            } else {
                $(campoQuantidade).attr('disabled', true);
            }
        });
       
@*        $("#gridCotacoes").kendoGrid({
            dataSource: {
                schema: {
                    data: 'Registros',
                    model: {
                        id: 'IdCotacao',
                        fields: {
                            IdCotacao: { type: "number", editable:false },
                            Selecionada: { type: "boolean" },
                            Fornecedor: { type: "string", editable:false },
                            CodigoIva: { type: "string" },
                            QuantidadeAdquirida: { type: "number" }
                        }
                    },
                    type: 'json'
                },
                serverFiltering: true,
                serverPaging: true,
                transport: {
                    read: {
                        url: '@Url.Action("ListarCotacoes", "ProcessoCotacaoMaterial",new{idProcessoCotacao = ViewData["IdProcessoCotacao"]})',
                        type: 'GET',
                        cache: false
                    }
                },
                batch: true
            },
            editable: true,
            navigatable: true,
            groupable: false,
            sortable: false,
            /*selectable: 'row',*/
            columns:
            [
                { field: "Selecionada", width: 80 },
                { field: "Fornecedor", width: 150 },
                { field: "CodigoIva", title: "Iva", width: 150 },
                { field: "QuantidadeAdquirida", title: "Quantidade", width: 80 }
            ]
        });*@

    });
</script>
