@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoMaterialCadastroVm

@{
    ViewBag.TituloDaPagina = "Cotação de Material - Editar";
}
<div class="paginaCadastro">
    @using (Html.BeginForm()) {

        <fieldset>
            <legend></legend>

            @Html.HiddenFor(model => model.Id)

            <div>
                @Html.Label("Status:",new{@class="labelNaLinha"})
                @Html.DisplayFor(model => model.DescricaoStatus)
            </div>

            @{ var comboMaterial = new ColunaComDropDown<CotacaoMaterialCadastroVm, string>( x => x.CodigoMaterial, 
                ((List<ProdutoCadastroVm>) ViewBag.Materiais)
                .Select(x => new SelectListItem() {Text = x.Descricao, Value = Convert.ToString(x.CodigoSap), Selected = Model != null && x.CodigoSap == Model.CodigoMaterial}),
                "IdMaterial");

               var quantidadeMaterial = new ColunaComEditor<CotacaoMaterialCadastroVm, int>(x => x.QuantidadeMaterial);
            }
            
            @Html.LinhaComDuasColunas(comboMaterial,quantidadeMaterial)
            
            @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoMaterialCadastroVm, string>(x => x.DataInicioLeilao, "campoDatePicker"),
            new ColunaComTextBox<CotacaoMaterialCadastroVm, string>(x => x.DataTerminoLeilao, "campoDatePicker"))
            
            @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoMaterialCadastroVm, string>(x => x.DataValidadeCotacaoInicial, "campoDatePicker"),
            new ColunaComTextBox<CotacaoMaterialCadastroVm, string>(x => x.DataValidadeCotacaoFinal, "campoDatePicker"))        

            @Html.LinhaComDuasColunas(new ColunaComTextArea<CotacaoMaterialCadastroVm, string>(x => x.Requisitos),
            new ColunaComTextArea<CotacaoMaterialCadastroVm, string>(x => x.Observacoes))
            
            @Html.Partial("_CotacaoFornecedor", new ViewDataDictionary(){new KeyValuePair<string, object>("IdCotacao",1)})
            @Html.ValidationSummary(true)

        <div class="divBotao">
            <input type="submit" value="Salvar" class="blue" />
        </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/scriptsGerais.js")"></script>
}
