@using BsBios.Portal.Common
@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model ProcessoCotacaoMaterialCadastroVm

@{
    ViewBag.TituloDaPagina = "Processo de Cotação de Material";
}
<link href="@Url.Content("~/Content/jquery.loadmask.css")" rel="stylesheet" />

<div class="paginaCadastro">
    @using (Html.BeginForm("AtualizarProcesso", "ProcessoDeCotacaoService"))
    {

        <fieldset>
            <legend>Requisição de Compra</legend>

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CodigoMaterial)
            
            @if (Model != null && Model.RequisicaoDeCompraVm != null)
            {
                @Html.Partial("_RequisicaoDeCompra", Model.RequisicaoDeCompraVm)
            }
        </fieldset>
        <fieldset>
            <legend>Processo de Cotação</legend>
            <div class="coluna">
                @Html.Label("Status:",new{@class="labelNaLinha"})
                <span id="spanStatus">@(Model != null ? Model.DescricaoStatus : "Não Iniciado")</span> 
            </div>
            @Html.LinhaComUmaColuna(new ColunaComTextBox<ProcessoCotacaoMaterialCadastroVm, string>(x => x.DataLimiteRetorno,"campoDatePicker maskdata"))
            <div class="divBotao">
                <input type="submit" id="btnSalvarProcesso" value="Salvar" class="blue" />
            </div>
        </fieldset>
    }

    @Html.Partial("_ProcessoDeCotacaoOperacoes", new ViewDataDictionary() 
        {   new KeyValuePair<string, object>("idProcessoCotacao", Model != null ? Model.Id : 0),
            new KeyValuePair<string, object>("TipoDeCotacao", Enumeradores.TipoDeCotacao.Material) }
        )

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.loadmask.js")"></script>
    <script type="text/javascript">
        $(function() {
            aplicaMascaraData();
        })
    </script>
}
