@{
    ViewBag.TituloDaPagina = "Cotações de Material";
}
   <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />

<div id="gridCotacaoMaterial"></div>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/scriptsGerais.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script>
        $(document).ready(function() {
            $("#gridCotacaoMaterial").kendoCustomGrid({
                dataSource: {
                    schema: {
                        data: 'registros',
                        model: {
                            id: 'Id',
                            fields: {
                                Id: {
                                    type: "number"
                                },
                                CodigoMaterial: {
                                    type: "string"
                                },
                                Material: {
                                    type: "string"
                                },
                                Quantidade: {
                                    type: "number"
                                },
                                UnidadeDeMedida: {
                                    type: "string"
                                },
                                Status: {
                                    type: "string"
                                },
                                DataTermino: {
                                    type: "string"
                                }
                            }
                        },
                        total: 'totalCount',
                        type: 'json'
                    },
                    transport: {
                        read: {
                            url: '@Url.Action("Listar", "ProcessoCotacaoMaterial")',
                            type: 'GET',
                            cache: false
                        }
                    }
                },
                columns:
                [
                    {
                        field: 'Id',
                        title: ' ', /*coloco um espaço para deixar o header sem título*/
                        width: 40,
                        sortable: false,
                        template: '<input type="button" class="button_edit" data-idprocessocotacao="${Id}"></input>'
                    },
                    {
                        field: "CodigoMaterial",
                        width: 90,
                        title: "Código"
                    }, {
                        field: "Material",
                        width: 190,
                        title: "Material"
                    },
                    {
                        width: 80,
                        field: "Quantidade",
                        title: "Quantidade"
                    },
                    {
                        width: 80,
                        field: "UnidadeDeMedida",
                        title: "Unidade"
                    },
                    {
                        width: 100,
                        field: "Status",
                        title: "Status"
                    },
                    {
                        width: 110,
                        field: "DataTermino",
                        title: "Término"
                    }
                ]
            });

            $('.button_edit').die("click");
            $('.button_edit').live("click", function(e) {
                e.preventDefault();
                location.href = '@ViewData["ActionEdicao"]' + '/?idProcessoCotacao=' + $(this).attr('data-idprocessocotacao') ;
            });

        });
    </script>

}
