@using BsBios.Portal.Common
@using BsBios.Portal.ViewModel
@model RelatorioDeQuotaPlanejadoVersusRealizadoPorDataVm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Planejado x Realizado por Data</title>
        <link type="text/css" href="@Url.Content("~/Content/Relatorio.css")" rel="stylesheet"/>
    </head>
    <body>
        <div class="bordaDoRelatorio" >
            @{
                RelatorioAgendamentoFiltroVm filtro = ViewBag.Filtro;
            }
            @Html.Partial("_CabecalhoRelatorioAgendamento", filtro)
        
            <table>
                <thead>
                    <tr>
                        <th>Terminal</th>
                        <th>Data</th>
                        <th>Fornecedor</th>
                        <th>Material</th>
                        <th>Fluxo de Carga</th>
                        <th>Quota</th>
                        <th>Peso Realizado</th>
                        <th>Peso não Realizado</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Quotas) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CodigoTerminal)</td>
                        <td>@Html.DisplayFor(modelItem => item.Data)</td>
                        <td>@Html.DisplayFor(modelItem => item.NomeDoFornecedor)</td>
                        <td>@Html.DisplayFor(modelItem => item.Material)</td>
                        <td>@Html.DisplayFor(modelItem => item.FluxoDeCarga)</td>
                        <td class="coluna-numerica">@Html.DisplayFor(modelItem => item.Quota)</td>
                        <td class="coluna-numerica">@Html.DisplayFor(modelItem => item.PesoRealizado)</td>
                        <td class="coluna-numerica">@Html.DisplayFor(modelItem => item.PesoNaoRealizado)</td>
                    </tr>
                }

                <tfoot>
                    <tr>
                        <td colspan="5">TOTAL</td>
                        <td class="coluna-numerica">@Html.DisplayFor(model => model.Total.Quota)</td>
                        <td class="coluna-numerica">@Html.DisplayFor(model => model.Total.PesoRealizado)</td>
                        <td class="coluna-numerica">@Html.DisplayFor(model => model.Total.PesoNaoRealizado)</td>
                    </tr>
                </tfoot>
    
            </table>
        </div>

    </body>
</html>
