@using BsBios.Portal.ViewModel
@model RelatorioDeQuotaPlanejadoVersusRealizadoVm

@{
    Layout = null;
    //QuotaPlanejadoRealizadoVm quota = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Planejado x Realizado</title>
        <link type="text/css" href="@Url.Content("~/Content/Relatorio.css")" rel="stylesheet"/>
    </head>
    <body>
        <div class="bordaDoRelatorio" >
            @{
                RelatorioAgendamentoFiltroVm filtro = ViewBag.Filtro;
            }
            @Html.Partial("_CabecalhoRelatorioAgendamento", filtro)
        
            <table>
                <thead>
                    <tr>
                        <th>Terminal</th>
                        <th>Fornecedor</th>
                        <th>Fluxo de Carga</th>
                        <th>Quota</th>
                        <th>Peso</th>
                    </tr>
                </thead>
    
                @foreach (var item in Model.Quotas) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoTerminal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeDoFornecedor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FluxoDeCarga)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quota)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PesoRealizado)
                        </td>
                    </tr>
                }
                <tfoot>
                    <tr>
                        <td colspan="3">TOTAL</td>
                        <td>@Html.DisplayFor(model => model.Total.Quota)</td>
                        <td>@Html.DisplayFor(model => model.Total.PesoRealizado)</td>
                    </tr>
                </tfoot>
    
            </table>
        </div>

    </body>
</html>
