@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model RelatorioAgendamentoFiltroVm
@{
    var comboDeTerminal = new ColunaComDropDown<RelatorioAgendamentoFiltroVm, string>(x => x.CodigoTerminal,
    ((List<TerminalCadastroVm>)ViewBag.Terminais)
    .Select(x => new SelectListItem() { Text = x.Nome, Value = Convert.ToString(x.Codigo)}),
    "CodigoTerminal");
    
}           

@Html.LinhaComDuasColunas(comboDeTerminal,
new ColunaComDropDown<RelatorioAgendamentoFiltroVm, int?>(x => x.CodigoFluxoDeCarga,
((List<FluxoDeCargaVm>) ViewBag.FluxosDeCarga) 
.Select(x => new SelectListItem() {Text = x.Descricao, Value = Convert.ToString(x.Codigo), Selected = false}),"CodigoFluxoDeCarga"))
<div class="linha">
    <div class="coluna">
        @Html.LabelFor(x => x.DataDe)
        @Html.TextBox("DataDe","",new{@class="campoDatePicker maskdata"})
    </div>
    <div class="coluna">
        @Html.LabelFor(x => x.DataAte)
        @Html.TextBox("DataAte","",new{@class="campoDatePicker maskdata"})
    </div>
</div>
<div class="linha">
    <div class="coluna">
        @Html.HiddenFor(x => x.CodigoFornecedor)
        @Html.LabelFor(x => x.Fornecedor)
        @Html.TextBoxFor(x => x.Fornecedor,new{ @class="campoDesabilitado campogrande"})
        <input type="button" id="btnSelecionarFornecedor" class="button_visualize" />        
    </div>
    <div class="coluna" id="divPlaca" style="display: none">
        @Html.LabelFor(x => x.Placa)
        @Html.TextBoxFor(x => x.Placa, new {@class="maskplaca"})
    </div>
</div>

