@using BsBios.Portal.Common
@using BsBios.Portal.ViewModel
@{
    ViewBag.TituloDaPagina = "Relatórios de Agendamento";
}
@section styles
{
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
}
<fieldset>
    <legend>Relatório</legend>
    <div class="linha">
        @Html.RadioButton("RelatorioDeAgendamento", (int) Enumeradores.RelatorioDeAgendamento.ListagemDeQuotas,true)
        @Html.Label("Listagem de Quotas", new{@class="labelNaLinha"})
    </div>
    <div class="linha">
        @Html.RadioButton("RelatorioDeAgendamento",(int)  Enumeradores.RelatorioDeAgendamento.ListagemDeAgendamentos)
        @Html.Label("Listagem de Agendamentos", new{@class="labelNaLinha"})
    </div>
    <div class="linha">
        @Html.RadioButton("RelatorioDeAgendamento", (int)  Enumeradores.RelatorioDeAgendamento.PlanejadoVersusRealizado)
        @Html.Label("Planejado x Realizado",new{@class="labelNaLinha"})
    </div>
    <div class="linha">
        @Html.RadioButton("RelatorioDeAgendamento", (int)  Enumeradores.RelatorioDeAgendamento.PlanejadoVersusRealizadoPorData)
        @Html.Label("Planejado x Realizado por Data",new{@class="labelNaLinha"})
    </div>

</fieldset>
<fieldset>
    <legend>Filtros</legend>
    <form>
        @Html.Partial("_Filtro",new RelatorioAgendamentoFiltroVm())
        <div class="divBotao">
            <input type="submit" id="btnGerarRelatorio" value="Gerar" class="blue" />
        </div>
    </form>
</fieldset>
@section scripts
{
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarFornecedor.js")"></script>
    <script type="text/javascript">
        $(function () {
            aplicaMascaraData();
            aplicaMascaraPlaca();
            var selecionarFornecedor = new SelecionarFornecedor();
            selecionarFornecedor.configurar("#CodigoFornecedor", "#Fornecedor", "divSelecionarFornecedor", "#btnSelecionarFornecedor");
            $('#btnGerarRelatorio').click(function (e) {
                e.preventDefault();
                window.open('@Url.Action("GerarRelatorio","RelatorioAgendamentoVisualizacao")' + '/?' + $('form').serialize() +
                    '&RelatorioDeAgendamento=' + $('input[name=RelatorioDeAgendamento]:checked').val());
            });
            $('input[name=RelatorioDeAgendamento]').change(function () {
                if ($(this).val() == '@((int)Enumeradores.RelatorioDeAgendamento.ListagemDeAgendamentos)') {
                    $('#divPlaca').show();
                } else {
                    $('#divPlaca').hide();
                }
            });
        })
    </script>
}

