@using BsBios.Portal.ViewModel
@{
    ViewBag.TituloDaPagina = "Relatório";
}
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
<fieldset>
    <legend>Filtros</legend>
    <form>
        @Html.Partial("_Filtro",new RelatorioAgendamentoFiltroVm{CodigoTerminal = "1000"})
        <div class="divBotao">
            <a href="@Url.Action("QuotaPrevistaRealizada","RelatorioAgendamentoVisualizacao")" target='_blank' class="blue">Imprimir</a>
        </div>
    </form>
</fieldset>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarFornecedor.js")"></script>
    <script type="text/javascript">
        $(function () {
            aplicaMascaraData();
            SelecionarFornecedor.Configurar();
            $('#btnGerarRelatorio').click(function (e) {
                e.preventDefault();
            });
        })
    </script>
}

