@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoFreteCadastroVm

@{
    ViewBag.TituloDaPagina = "Cotação de Frete";
}
<div class="paginaCadastro">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.IdProcessoCotacao)
        @Html.HiddenFor(model => model.CodigoFornecedor)
        
        <fieldset>
            <legend>Processo de Cotação</legend>
            @Html.LinhaComDuasColunas(new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.Status),
                                      new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.DataLimiteDeRetorno))
            @Html.LinhaComDuasColunas(new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.DataDeValidadeInicial),
                                      new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.DataDeValidadeFinal))
            @Html.LinhaComUmaColuna(new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.Material))
            @Html.LinhaComDuasColunas(new ColunaComLabel<CotacaoFreteCadastroVm, decimal>(x => x.Quantidade),
                                      new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.UnidadeDeMedida))
                @Html.LinhaComUmaColuna(new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.Itinerario))
            @Html.LinhaComUmaColuna(new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.Requisitos))
        </fieldset>
       
        <fieldset>
            <legend>Cotação do Fornecedor</legend>
            @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoFreteCadastroVm, decimal?>(x => x.ValorComImpostos, "maskmoeda"),
                                      new ColunaComTextBox<CotacaoFreteCadastroVm, decimal?>(x => x.QuantidadeDisponivel,"maskquantidade"))
            
            @Html.LinhaComUmaColuna(new ColunaComTextArea<CotacaoFreteCadastroVm, string>(x => x.ObservacoesDoFornecedor))

        </fieldset>
        
  
        <div class="error">
            @if (ViewData["erro"] != null)
            {
                @ViewData["erro"]
            }
        </div>
        
        @Html.ValidationSummary(true)

        <div class="divBotao">
            <input type="button" id="btnSalvarCotacao" value="Salvar" class="blue" />
        </div>
    }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/scriptsgerais")
    <script src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
    <script type="text/javascript">
       
        $(function () {
            aplicaMascaraQuantidade();
            aplicaMascaraMoeda();

            function atualizaMensagemDeErro(mensagem) {
                $('.error').html(mensagem);
            }

            $('#btnSalvarCotacao').click(function() {
                $('.error').empty();
                var form = $('form');
                if (!$(form).validate().form()) {
                    return;
                }

                var formData = $(form).serialize();
                $.post('@Url.Action("Salvar", "CotacaoDeFreteAtualizar")', formData,
                    function(data) {
                        if (data.Sucesso) {
                            location.href = '@Url.Action("Index", "ProcessoCotacaoFrete")';
                        } else {
                            atualizaMensagemDeErro(data.Mensagem);
                        }
                    });

            });
        });
    </script>
}

