@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoFreteCadastroVm

@{
    ViewBag.TituloDaPagina = "Cotação de Frete - Novo";
}
<div class="paginaCadastro">
    @using (Html.BeginForm()) {

        <fieldset>
            <legend></legend>

            @Html.HiddenFor(model => model.Id)

            <div>
                @Html.Label("Status:",new{@class="labelNaLinha"})
                @Html.DisplayFor(model => model.DescricaoStatus)
            </div>
            
            @Html.LinhaComDuasColunas(new Coluna(Html.LabelFor(model => model.IdMaterial),
            Html.DropDownList("IdMaterial", 
                ((List<ProdutoCadastroVm> ) ViewBag.Materiais).Select(x => new SelectListItem()
                    {Text = x.Descricao,Value = Convert.ToString(x.Id),Selected = Model != null && x.Id == Model.IdMaterial}),"Selecione >>"),
                    Html.ValidationMessageFor(model => model.IdMaterial)), 
            new Coluna(Html.LabelFor(model => model.QuantidadeMaterial),
                Html.EditorFor(model => model.QuantidadeMaterial),
                Html.ValidationMessageFor(model => model.QuantidadeMaterial))
            )


            <div class="linha">
                <div class="coluna">
                    @Html.LabelFor(model => model.DataInicioLeilao)
                    @Html.TextBoxFor(model => model.DataInicioLeilao, new{@class="campoDatePicker"})
                    <p class="mensagemErro">
                        @Html.ValidationMessageFor(model => model.DataInicioLeilao)    
                    </p>
                </div>
                <div class="coluna">
                    @Html.LabelFor(model => model.DataTerminoLeilao)
                    @Html.TextBoxFor(model => model.DataTerminoLeilao, new{@class="campoDatePicker"})
                    <p class="mensagemErro">
                        @Html.ValidationMessageFor(model => model.DataTerminoLeilao)                    
                    </p>
                </div>
            </div>
            
            <div class="linha">
                <div class="coluna">
                    @Html.LabelFor(model => model.DataValidadeCotacaoInicial)
                    @Html.EditorFor(model => model.DataValidadeCotacaoInicial)
                    <p class="mensagemErro">
                        @Html.ValidationMessageFor(model => model.DataValidadeCotacaoInicial)    
                    </p>
                </div>
                <div class="coluna">
                    @Html.LabelFor(model => model.DataValidadeCotacaoFinal)
                    @Html.EditorFor(model => model.DataValidadeCotacaoFinal)
                    <p class="mensagemErro">
                        @Html.ValidationMessageFor(model => model.DataValidadeCotacaoFinal)
                    </p>
                </div>
            </div>
        
            <div class="linha">
                <div class="coluna">
                    @Html.LabelFor(model => model.IdCentro)
                    @Html.DropDownList("IdCentro",((List<CentroCadastroVm>) ViewBag.Centros)
                                                      .Select(x => new SelectListItem(){Value = Convert.ToString(x.Id) , Text =x.Descricao, Selected = Model != null && Model.Id == x.Id}),"Selecione")
                    @Html.ValidationMessageFor(model => model.IdCentro)
                </div>

                <div class="coluna">
                    @Html.LabelFor(model => model.IdItinerario)
                    @Html.DropDownList("IdItinerario",((List<ItinerarioCadastroVm>) ViewBag.Itinerarios)
                                                          .Select(x => new SelectListItem(){Value = Convert.ToString(x.Id) ,Text = x.Descricao ,Selected = Model != null && Model.Id == x.Id}),"Selecione")
                    @Html.ValidationMessageFor(model => model.IdItinerario)
                </div>
            </div>
            
            <div class="linha">
                <div class="coluna">
                    @Html.LabelFor(model => model.Requisitos)
                    @Html.TextAreaFor(model => model.Requisitos,new{@class="campogrande", rows="5"})
                    @Html.ValidationMessageFor(model => model.Requisitos)
                </div>
                <div class="coluna">
                    @Html.LabelFor(model => model.Observacoes)
                    @Html.TextAreaFor(model => model.Observacoes,new{@class="campogrande", rows="5"})
                    @Html.ValidationMessageFor(model => model.Observacoes)
                </div>
            </div>
@*            @{
                Html.RenderAction("Index","Fornecedor");
            }*@
            @Html.ValidationSummary(true)

        <div class="divBotao">
            <input type="submit" value="Salvar" class="blue" />
        </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*    <script type="text/javascript">
        $(function() {
            $('#DataInicioLeilao').datepicker();
        });
    </script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/scriptsGerais.js")"></script>
}
