@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoFreteCadastroVm

@{
    ViewBag.TituloDaPagina = "Cotação";
    CotacaoImpostosVm impostosVm = Model.Impostos;
}
<div class="paginaCadastro">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.IdProcessoCotacao)
        @Html.HiddenFor(model => model.CodigoFornecedor)
        
        <fieldset>
            <legend>Processo de Cotação</legend>
            @Html.LinhaComDuasColunas(new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.Status),
                                      new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.DataLimiteDeRetorno))
            @Html.LinhaComUmaColuna(new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.Material))
            @Html.LinhaComDuasColunas(new ColunaComLabel<CotacaoFreteCadastroVm, decimal>(x => x.Quantidade),
                                      new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.UnidadeDeMedida))
            @Html.LinhaComUmaColuna(new ColunaComLabel<CotacaoFreteCadastroVm, string>(x => x.Requisitos))
        </fieldset>
        
        Html.RenderPartial("_CotacaoImpostos", impostosVm ?? new CotacaoImpostosVm());
        
        <fieldset>
            <legend>Cotação do Fornecedor</legend>
            @Html.LinhaComDuasColunas(new ColunaComEditor<CotacaoFreteCadastroVm, decimal?>(x => x.ValorComImpostos, "campoDesabilitado"),
                                      new ColunaComEditor<CotacaoFreteCadastroVm, decimal?>(x => x.ValorLiquido))
            
            @Html.LinhaComDuasColunas(new ColunaComEditor<CotacaoFreteCadastroVm, decimal?>(x => x.QuantidadeDisponivel),
            new ColunaComTextArea<CotacaoFreteCadastroVm, string>(x => x.ObservacoesDoFornecedor))

        </fieldset>
        
  
        <div class="error">
            @if (ViewData["erro"] != null)
            {
                @ViewData["erro"]
            }
        </div>
        
        @Html.ValidationSummary(true)

        <div class="divBotao">
            <input type="button" id="btnSalvarCotacao" value="Salvar" class="blue" />
        </div>
    }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/scriptsgerais")
    <script type="text/javascript">
        $('input[name=ValorLiquido]').attr('disabled', true);
        
        function calculaValorLiquido() {
            var valorComImpostos = Numero.GetFloat($('#ValorComImpostos').val());
            if (valorComImpostos == 0) {
                return;
            }

            var valorIcms = Numero.GetFloat($('#IcmsValor').val());
            var valorIcmsSt = Numero.GetFloat($('#IcmsStValor').val());
            var valorIpi = Numero.GetFloat($('#IpiValor').val());

            var valorLiquido = valorComImpostos - valorIcms - valorIcmsSt - valorIpi;

            $('#ValorLiquido').val(valorLiquido);

        }
        

        $(function() {

            function atualizaMensagemDeErro(mensagem) {
                $('.error').html(mensagem);
            }

            $('#ValorComImpostos').change(function() {
                calculaValorLiquido();
            });
            $('#IcmsValor').change(function () {
                calculaValorLiquido();
            });
            $('#IcmsStValor').change(function () {
                calculaValorLiquido();
            });
            $('#IpiValor').change(function () {
                calculaValorLiquido();
            });

            $('#btnSalvarCotacao').click(function() {
                $('.error').empty();
                var form = $('form');
                if (!$(form).validate().form()) {
                    return;
                }

                var formData = $(form).serialize();
                $.post('@Url.Action("Salvar", "CotacaoDeFreteAtualizar")', formData,
                    function(data) {
                        if (data.Sucesso) {
                            location.href = '@Url.Action("Index", "ProcessoCotacaoFrete")';
                        } else {
                            atualizaMensagemDeErro(data.Mensagem);
                        }
                    });

            });
        });
    </script>
}

