@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoFreteCadastroVm

@{
    ViewBag.TituloDaPagina = "Cotação de Frete - Novo";
}
<div class="paginaCadastro">
    @using (Html.BeginForm()) {

        <fieldset>
            <legend></legend>

            @Html.HiddenFor(model => model.Id)
            
            <div>
                @Html.Label("Status:",new{@class="labelNaLinha"})
                @Html.DisplayFor(model => model.DescricaoStatus)
            </div>

            @{ var comboMaterial = new ColunaComDropDown<CotacaoFreteCadastroVm, string>(x => x.CodigoMaterial, 
                ((List<ProdutoCadastroVm>) ViewBag.Materiais)
                .Select(x => new SelectListItem() {Text = x.Descricao, Value = Convert.ToString(x.CodigoSap), Selected = Model != null && x.CodigoSap == Model.CodigoMaterial}),
                "IdMaterial");

                var quantidadeMaterial = new ColunaComEditor<CotacaoFreteCadastroVm, int>(x => x.QuantidadeMaterial);
            }
            
            @Html.LinhaComDuasColunas(comboMaterial,quantidadeMaterial)
            
            @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoFreteCadastroVm, string>(x => x.DataInicioLeilao, "campoDatePicker"),
            new ColunaComTextBox<CotacaoFreteCadastroVm, string>(x => x.DataTerminoLeilao, "campoDatePicker"))
            
            @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoFreteCadastroVm, string>(x => x.DataValidadeCotacaoInicial, "campoDatePicker"),
            new ColunaComTextBox<CotacaoFreteCadastroVm, string>(x => x.DataValidadeCotacaoFinal, "campoDatePicker"))        

            @{
            var comboCentro = new ColunaComDropDown<CotacaoFreteCadastroVm, int>(x => x.IdCentro, 
                        ((List<CentroCadastroVm>)ViewBag.Centros)
                        .Select(x => new SelectListItem() { Value = Convert.ToString(x.Id), Text = x.Descricao, Selected = Model != null && Model.Id == x.Id }),
                        "IdCentro");

            var comboItinerario = new ColunaComDropDown<CotacaoFreteCadastroVm, int>(x => x.IdItinerario, 
                ((List<ItinerarioCadastroVm>) ViewBag.Itinerarios)
                    .Select(x => new SelectListItem() {Value = Convert.ToString(x.Id), Text = x.Descricao, Selected = Model != null && Model.Id == x.Id}),
                "IdItinerario");                   
            }
            
            @Html.LinhaComDuasColunas(comboCentro, comboItinerario)

            @Html.LinhaComDuasColunas(new ColunaComTextArea<CotacaoFreteCadastroVm, string>(x => x.Requisitos),
            new ColunaComTextArea<CotacaoFreteCadastroVm, string>(x => x.Observacoes))

            @*            @{
                Html.RenderAction("Index","Fornecedor");
            }*@
            @Html.ValidationSummary(true)

        <div class="divBotao">
            <input type="submit" value="Salvar" class="blue" />
        </div>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/scriptsGerais.js")"></script>
}
