@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model CotacaoFreteCadastroVm

@{
    ViewBag.TituloDaPagina = "Cotação de Frete";
}
<div class="paginaCadastro">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.IdProcessoCotacao)
        @Html.HiddenFor(model => model.CodigoFornecedor)

        Html.RenderPartial("_CabecalhoDoProcessoDeCotacaoDeFrete", Model.Cabecalho);        
       
        <fieldset>
            <legend>Cotação do Fornecedor</legend>
            @{
                const string classeDesabilitado = " campoDesabilitado";

                string classeQuantidade = "maskquantidade";
                string classeObservacao = "";

                object atributosQuantidade;
                object atributosObservacao;

                if (Model.SomenteLeitura)
                {
                    classeQuantidade += classeDesabilitado;
                    classeObservacao += classeDesabilitado;

                    atributosQuantidade = new
                    {
                        @readonly = true,
                        @class = classeQuantidade
                    };

                    atributosObservacao = new
                    {
                        @readonly = true,
                        @class = classeObservacao,
                        @rows = 5

                    };
                }
                else
                {
                    atributosQuantidade = new
                    {
                        @class = classeQuantidade
                    };

                    atributosObservacao = new
                    {
                        @class = classeObservacao,
                        @rows = 5
                    };
                }

                string classeValor = "maskmoeda";
                object atributosValor;
                if (Model.PermiteAlterarPreco && !Model.SomenteLeitura)
                {
                    atributosValor = new
                    {
                        @class = classeValor
                    };
                }
                else
                {
                    classeValor += " campoDesabilitado";
                    atributosValor = new
                    {
                        @readonly = true,
                        @class = classeValor
                    };

                    
                }

            }
            @Html.LinhaComDuasColunas(new ColunaComTextBox<CotacaoFreteCadastroVm, decimal?>(x => x.ValorComImpostos, atributosValor),
                                      new ColunaComTextBox<CotacaoFreteCadastroVm, decimal?>(x => x.QuantidadeDisponivel, atributosQuantidade))
            
            @Html.LinhaComUmaColuna(new ColunaComTextArea<CotacaoFreteCadastroVm, string>(x => x.ObservacoesDoFornecedor, atributosObservacao))

        </fieldset>
        
  
        <div class="error">
            @if (ViewData["erro"] != null)
            {
                @ViewData["erro"]
            }
        </div>
        
        @Html.ValidationSummary(true)

        if (!Model.SomenteLeitura)
         {
             <div class="divBotao">
                 <input type="button" id="btnAceitarCotacao" value="Aceitar" class="blue" />
                 <input type="button" id="btnRecusarCotacao" value="Recusar" class="blue" />
                 <a href="@Url.Action("Index","ProcessoDeCotacaoDeFrete")" class="blue">Sair</a>
             </div>
             
         }
    }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/scriptsgerais")
    <script src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
    <script type="text/javascript">
       
        $(function () {
            aplicaMascaraQuantidade();
            aplicaMascaraMoeda();

            function atualizaMensagemDeErro(mensagem) {
                $('.error').html(mensagem);
            }

            $('#btnAceitarCotacao').click(function() {
                $('.error').empty();
                var form = $('form');
                if (!$(form).validate().form()) {
                    return;
                }

                var formData = $(form).serialize();
                $.post('@Url.Action("Salvar", "CotacaoDeFreteAtualizar")', formData,
                    function(data) {
                        if (data.Sucesso) {
                            location.href = '@Url.Action("Index", "ProcessoDeCotacaoDeFrete")';
                        } else {
                            atualizaMensagemDeErro(data.Mensagem);
                        }
                    });

            });

            $('#btnRecusarCotacao').click(function() {
                Mensagem.ExibirMensagemDeConfirmacao('Tem certeza que deseja Recusar a Cotação?', function() {
                    $.ajax({
                        url: '@Url.Action("SairDoProcesso","CotacaoDeFreteAtualizar")',
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',

                        data: JSON.stringify({
                            IdDoProcessoDeCotacao: $('#IdProcessoCotacao').val(),
                            CodigoDoFornecedor: $('#CodigoFornecedor').val()
                        })
                    })
                    .done(function (data) {
                        if (data.Sucesso) {
                            location.href = '@Url.Action("Index", "ProcessoDeCotacaoDeFrete")';
                        } else {
                            Mensagem.ExibirMensagemDeErro(data.Mensagem);
                        }
                    })
                    .fail(function () {
                        Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao recusar o Processo de Cotação');
                    });
                });
            });
        });
    </script>
}

