@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model MonitorOrdemDeTransporteParametroVm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>BS NET - Monitor de Ordens de Transporte</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @*<link href="@Url.Content("~/Content/jquery.loadmask.css")" rel="stylesheet" />*@
            <style type="text/css">

                .full_table_list {
                    color: white;
                    width: 100%;
                    border-collapse: collapse
                }

                .full_table_list th {
                    background-color: rgb(51, 51, 51);
                    color: rgb(255, 255,255);
                }

                /*Definido cor das linhas pares*/
                    .full_table_list tbody tr:nth-child(even) {
                        background-color: #A0A0A0;
                    }

                /*Definindo cor das Linhas impáres*/
                    .full_table_list tbody tr:nth-child(odd) {
                        background: #707070;
                    }

                .colunaFornecedor {
                    width: 35%;
                }
                .outrasColunas {
                    width: 13%
                }
                .colunaNumerica {
                    text-align: right
                }
            </style>

        </head>
    <body>
        <div id="todaPagina">
            <fieldset class="divFiltros">
                <form id="filtrosDoMonitor">

                    @Html.LinhaComTresColunas(new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>(x => x.DataInicial,"campopequeno campoDatePicker"),
                    new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>(x => x.DataFinal, "campopequeno campoDatePicker"),
                    new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, int>(x => x.InterValoDeAtualizacao, "campomedio masknumerointeiro"))

                    <div class="divBotao">
                        <button class="blue" id="btnAtualizarMateriais">Atualizar</button>
                    </div>
                </form>
            </fieldset>
            <table class="full_table_list">
                <thead>
                    <tr>
                        <th class="outrasColunas">Material</th>
                        <th class="colunaFornecedor">Transportadora</th>
                        <th class="outrasColunas">Liberado</th>
                        <th class="outrasColunas">Em Trânsito</th>
                        <th class="outrasColunas">Chegada Hoje</th>
                        <th class="outrasColunas">Pendente</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: materiais">
                    <tr>
                        <td data-bind="text: Material"></td>
                        <td data-bind="text: Fornecedor"></td>
                        <td class="colunaNumerica" data-bind="text: Globalize.format(QuantidadeLiberada,'n3')"></td>
                        <td class="colunaNumerica" data-bind="text: Globalize.format(QuantidadeEmTransito,'n3')"></td>
                        <td class="colunaNumerica" data-bind="text: Globalize.format(PrevisaoDeChegadaNoDia,'n3')"></td>
                        <td class="colunaNumerica" data-bind="text: Globalize.format(QuantidadePendente, 'n3')"></td>
                    </tr>
                </tbody>
            </table>
            
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/globalize")
        @Scripts.Render("~/bundles/knockout")
        <script src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
        @*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.loadmask.js")"></script>*@
        @Scripts.Render("~/bundles/scriptsgerais")
        <script type="text/javascript">
            var materiais = ko.observableArray([]);

            ko.applyBindings(materiais);

            function atualizarMateriais(novosMateriais) {
                materiais().length = 0;
                $.each(novosMateriais, function(indice, material) {
                    materiais().push(material);
                });
                materiais.valueHasMutated();
            }

            function recarregarDadosDoMonitor() {

                //bloqueiaPagina();

                $.ajax({
                    url: '@Url.Action("Listar", "MonitorDeOrdemDeTransporte")' + '?DataInicial=' + $('[name=DataInicial]').val() + '&DataFinal=' + $('[name=DataFinal]').val(),
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json'})
                    .done(function(data) {
                        if (data.Sucesso) {
                            atualizarMateriais(data.Materiais);
                        } else {
                            Mensagem.ExibirMensagemDeErro(data.Mensagem);
                        }
                    }) 
                    .fail(function(jqXHR, textStatus, errorThrown) {
                        trataFalhaEmRequisicoesAjax(jqXHR);
                    })
                    /*.always(function() {
                    //    desbloqueiaPagina();
                    //}
                )*/;
            }
            
            $(function () {

                aplicaMascaraInteiro();
                
                $.validator.unobtrusive.parse(".divFiltros");

                $('#btnAtualizarMateriais').click(function (e) {
                    e.preventDefault();
                    if (!$("#filtrosDoMonitor").validate().form()) {
                        return;
                    }
                    recarregarDadosDoMonitor();
                });

                recarregarDadosDoMonitor();

            });
        </script>
    </body>

</html>


