@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model MonitorOrdemDeTransporteParametroVm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>BS NET - Monitor de Ordens de Transporte</title>
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/monitor")
        </head>
    <body>
        <div id="todaPagina">
            <div id="showDiv" style="height: 0.5em"></div>
            <div class="configuracaoDoMonitor">
                <fieldset>
                    <legend>Configuração</legend>
                    <form id="formConfiguracao"></form>
                    @Html.LinhaComDuasColunas(new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, int>(x => x.InterValoDeAtualizacao, "campopequeno masknumerointeiro"), 
                        new ColunaVazia<MonitorOrdemDeTransporteParametroVm, object>(x => null))
                </fieldset>
                <form id="filtrosDoMonitor">

                    <fieldset class="divFiltros">
                        <legend>Agrupamentos</legend>
                        <div class="linha">
                            <div class="coluna">
                                <input type="checkbox" name="FornecedorDaMercadoria"/>
                                @Html.Label("Fornecedor da Mercadoria", new { @class = "labelDeCheckbox" })
                            </div>
                            <div class="coluna">
                                <input type="checkbox" name="Transportadora" />
                                @Html.Label("Transportadora", new { @class = "labelDeCheckbox" })
                            </div>
                        </div>
                        <div class="linha">
                            <div class="coluna">
                                <input type="checkbox" name="NumeroDoContrato" />
                                @Html.Label("Número do Contrato", new { @class = "labelDeCheckbox" })
                            </div>
                            <div class="coluna">
                                <input type="checkbox" name="NumeroDaOrdemDeTransporte" />
                                @Html.Label("Número da Ordem de Transporte", new { @class = "labelDeCheckbox" })
                            </div>
                        </div>
                        <div class="linha">
                            <div class="coluna">
                                <input type="checkbox" name="MunicipioDeOrigem" />
                                @Html.Label("Município de Origem", new { @class = "labelDeCheckbox" })
                            </div>
                            <div class="coluna">
                                <input type="checkbox" name="MunicipioDeDestino" />
                                @Html.Label("Município de Destino", new { @class = "labelDeCheckbox" })
                            </div>
                        </div>
                        <div class="linha">
                            <div class="coluna">
                                <input type="checkbox" name="Terminal" />
                                @Html.Label("Terminal", new { @class = "labelDeCheckbox" })
                            </div>
                            
                        </div>
                    </fieldset>

                    <fieldset id="fieldSetFiltros">
                        <legend>Filtros</legend>
                        @Html.LinhaComDuasColunas(new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                            (x => x.CodigoDoMaterial, "campopequeno"),
                            new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                                (x => x.DescricaoDoMaterial, "campogrande"))
                        @Html.LinhaComDuasColunas(new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                            (x => x.CodigoDoFornecedorDaMercadoria, "campopequeno"),
                            new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                                (x => x.NomeDoFornecedorDaMercadoria, "campogrande"))
                        @Html.LinhaComDuasColunas(new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                            (x => x.CodigoDaTransportadora, "campopequeno"),
                            new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                                (x => x.NomeDaTransportadora, "campogrande"))

                        <div class="linha">
                            <div class="coluna">
                                @Html.HiddenFor(x => x.CodigoDoMunicipioDeOrigem)
                                @Html.LabelFor(x => x.CodigoDoMunicipioDeOrigem)
                                @Html.TextBox("NomeDoMunicipioDeOrigem", "", new { @class = "campogrande" })
                            </div>
                            <div class="coluna">
                                @Html.HiddenFor(x => x.CodigoDoMunicipioDeDestino)
                                @Html.LabelFor(x => x.CodigoDoMunicipioDeDestino)
                                @Html.TextBox("NomeDoMunicipioDeDestino", "", new { @class = "campogrande" })
                            </div>
                        </div>
                        @Html.LinhaComDuasColunas(new ColunaComDropDown<MonitorOrdemDeTransporteParametroVm, string>(x => x.CodigoDoTerminal,
                            ((List<TerminalCadastroVm>)ViewBag.Terminais)
                                .Select(x => new SelectListItem() { Text = x.Nome, Value = Convert.ToString(x.Codigo)}),
                            "CodigoDoTerminal"), new ColunaVazia<MonitorOrdemDeTransporteParametroVm, object>(x => null))

                    </fieldset>
                    <div class="divBotao">
                        <button class="blue" id="btnAtualizarMateriais">Atualizar</button>
                        <button class="blue" id="btnOcultarConfiguracao">Ocultar</button>
                    </div>

                </form>

            </div>
            <div data-bind="style:{display: registros().length > 0 ? 'block': 'none'}">
                <div class="material"></div>
                <table class="full_table_list">
                    <thead>
                        <tr>
                            <th>Terminal</th>
                            <th>Nº Contrato</th>
                            <th>Nº Ordem</th>
                            <th>Fornecedor</th>
                            <th>Transportadora</th>
                            <th>Origem</th>
                            <th>Destino</th>
                            <th>Liberado</th>
                            <th>Realizado</th>
                            <th>Em Trânsito</th>
                            <th>Chegada Hoje</th>
                            <th>Pendente</th>
                            <th>% Pendente</th>
                            <th>Semáforo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                
                    <tbody data-bind="foreach: registros">
                        <tr>
                            <td data-bind="text: Terminal"></td>
                            <td data-bind="text: NumeroDoContrato"></td>
                            <td data-bind="text: NumeroDaOrdemDeTransporte"></td>
                            <td data-bind="text: FornecedorDaMercadoria"></td>
                            <td data-bind="text: Transportadora"></td>
                            <td data-bind="text: MunicipioDeOrigem"></td>
                            <td data-bind="text: MunicipioDeDestino"></td>

                            <td data-bind="text: Globalize.format(QuantidadeLiberada, formatoDosNumeros)"></td>
                            <td data-bind="text: Globalize.format(QuantidadeRealizada, formatoDosNumeros)"></td>
                            <td data-bind="text: Globalize.format(QuantidadeEmTransito, formatoDosNumeros)"></td>
                            <td data-bind="text: Globalize.format(PrevisaoDeChegadaNoDia, formatoDosNumeros)"></td>
                            <td data-bind="text: Globalize.format(QuantidadePendente, formatoDosNumeros)"></td>
                            <td data-bind="text: Globalize.format(PercentualPendente, formatoDosNumeros)"></td>
                            <td >
                                <div class="semaforo" data-bind="css: ClasseDoSemaforo"></div>
                            </td>
                        </tr>
                    </tbody>
                
                </table>
            </div>

            <div class="registronaoencontrado" data-bind="style:{display: registros().length == 0 ? 'block': 'none'}">
                Nenhum Material encontrado
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/globalize")
        @Scripts.Render("~/bundles/knockout")
        <script src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
        @Scripts.Render("~/bundles/scriptsgerais")
        <script src="@Url.Content("~/Scripts/Shared/autoCompleteDeMunicipio.js")"></script>

        <script type="text/javascript">
            
            UrlPadrao = { BuscaDeMunicipios: '@Url.Action("Buscar", "Municipio")' };

            var formatoDosNumeros = 'n0';
            
            function ConfiguracaoDoMonitor() {

                var me = this;

                me.tempoDeAtualizacaoEmSegundos = undefined;

                me.idDoIntervaloDeAtualizacao = undefined;

                me.monitorPorMateriais = [];

                me.indiceDoMaterial = 0;

                me.registros = ko.observableArray([]);

                ko.applyBindings(me);

                me.atualizarRegistrosDoMaterial = function () {

                    if (me.indiceDoMaterial === me.monitorPorMateriais.length) {
                        if (me.indiceDoMaterial == 0) {
                            me.registros().length = 0;
                            me.registros.valueHasMutated();
                            setTimeout(me.recarregarDadosDoMonitor, 60000);
                        } else {
                            me.recarregarDadosDoMonitor();
                        }
                        
                        return;
                    }

                    var materialAtual = me.monitorPorMateriais[me.indiceDoMaterial];
                    $('.material').text('Material: ' + materialAtual.Material);
                    me.registros().length = 0;
                    $.each(materialAtual.Registros, function (indice, registro) {
                        me.registros().push(registro);
                    });
                    me.registros.valueHasMutated();
                    atualizaTotalizador(materialAtual.Total);
                    atualizaVisibilidadeDasColunasDasTabelas();
                    me.indiceDoMaterial++;

                };
                
                me.atualizarMateriais = function (novosMateriais) {
                    me.monitorPorMateriais.length = 0;
                    me.monitorPorMateriais = novosMateriais;
                    me.indiceDoMaterial = 0;
                    me.atualizarRegistrosDoMaterial();
                    me.idDoIntervaloDeAtualizacao = setInterval(me.atualizarRegistrosDoMaterial, me.tempoDeAtualizacaoEmSegundos * 1000);

                };

                me.executarConsulta = function () {

                    var dados = $('#fieldSetFiltros').serializeObject();

                    var agrupamentos = '';

                    var checkboxes = $('.divFiltros input:checked');

                    $.each(checkboxes, function(index, checkbox) {
                        if (agrupamentos !== '') {
                            agrupamentos += ',';
                        }
                        agrupamentos += $(checkbox).attr('name');
                    });

                    dados.Agrupamentos = agrupamentos;

                    $.ajax({
                        url: '@Url.Action("Listar", "MonitorDeOrdemDeTransporte")',
                        type: 'GET',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        data: dados
                    }).done(function (data) {
                        if (data.Sucesso) {
                            me.atualizarMateriais(data.Materiais);
                        } else {
                            Mensagem.ExibirMensagemDeErro(data.Mensagem);
                        }
                    })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            trataFalhaEmRequisicoesAjax(jqXHR);
                        });
                };


                me.recarregarDadosDoMonitor = function (tempoDeAtualizacao) {
                    ///<param name="tempoDeAtualizacao">número de segundos que o sistema deve esperar até mostrar o novo material</param>
                    if (tempoDeAtualizacao) {
                        me.tempoDeAtualizacaoEmSegundos = tempoDeAtualizacao;
                    }
                    var idDoIntervalo = me.idDoIntervaloDeAtualizacao;
                    if (idDoIntervalo) {
                        clearInterval(idDoIntervalo);
                    }

                    me.executarConsulta();

                };

            }

            var configuracaoDoMonitor = new ConfiguracaoDoMonitor();
            
            function atualizaVisibilidadeDaColuna(indiceDaColuna, mostrar) {
                var seletor = 'td:nth-child(' + indiceDaColuna + '),th:nth-child(' + indiceDaColuna + ')';
                if (mostrar) {
                    $(seletor).show();
                } else {
                    $(seletor).hide();
                }
                
            }
            
            function atualizaTotalizador(totalizador) {
                var colunasDoTotalizador = $('.full_table_list tfoot tr td');
                colunasDoTotalizador[7].innerText = Globalize.format(totalizador.QuantidadeLiberada,formatoDosNumeros);
                colunasDoTotalizador[8].innerText = Globalize.format(totalizador.QuantidadeRealizada, formatoDosNumeros);
                colunasDoTotalizador[9].innerText = Globalize.format(totalizador.QuantidadeEmTransito, formatoDosNumeros);
                colunasDoTotalizador[10].innerText = Globalize.format(totalizador.PrevisaoDeChegadaNoDia, formatoDosNumeros);
                colunasDoTotalizador[11].innerText = Globalize.format(totalizador.QuantidadePendente, formatoDosNumeros);
            }
            
            function atualizaVisibilidadeDasColunasDasTabelas() {
                var agrupamentos = $('.divFiltros').serializeObject();
                
                atualizaVisibilidadeDaColuna(1, agrupamentos.Terminal);
                atualizaVisibilidadeDaColuna(2, agrupamentos.NumeroDoContrato);
                atualizaVisibilidadeDaColuna(3, agrupamentos.NumeroDaOrdemDeTransporte);
                atualizaVisibilidadeDaColuna(4, agrupamentos.FornecedorDaMercadoria);
                atualizaVisibilidadeDaColuna(5, agrupamentos.Transportadora);
                atualizaVisibilidadeDaColuna(6, agrupamentos.MunicipioDeOrigem);
                atualizaVisibilidadeDaColuna(7, agrupamentos.MunicipioDeDestino);
            }
            
            $(function () {
                
                criarAutoCompleteDeMunicipio('#CodigoDoMunicipioDeOrigem', '#NomeDoMunicipioDeOrigem');
                criarAutoCompleteDeMunicipio('#CodigoDoMunicipioDeDestino', '#NomeDoMunicipioDeDestino');

                aplicaMascaraInteiro();
                
                $.validator.unobtrusive.parse("#formConfiguracao");

                $('#btnAtualizarMateriais').click(function (e) {
                    e.preventDefault();

                    var interValoDeAtualizacao = parseInt($('#InterValoDeAtualizacao').val());
                    if (isNaN(interValoDeAtualizacao)) {
                        Mensagem.ExibirMensagemDeErro("É necessário preencher o intervalo de Atualização.");
                        return;
                    }

                    if (!$("#formConfiguracao").validate().form()) {
                        return;
                    }

                    configuracaoDoMonitor.recarregarDadosDoMonitor(interValoDeAtualizacao);
                    
                });


                $('#btnOcultarConfiguracao').click(function (e) {
                    e.preventDefault();
                    $('.configuracaoDoMonitor').hide("drop", { direction: "up" }, "slow");
                });
                
                $('#showDiv').mouseenter(function() {
                    $('.configuracaoDoMonitor').show("drop", { direction: "up" }, "slow");
                });

                configuracaoDoMonitor.recarregarDadosDoMonitor(parseInt($('#InterValoDeAtualizacao').val()));

            });
        </script>
    </body>

</html>


