@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model MonitorOrdemDeTransporteParametroVm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>BS NET - Monitor de Ordens de Transporte</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @*<link href="@Url.Content("~/Content/jquery.loadmask.css")" rel="stylesheet" />*@
            <style type="text/css">

                .full_table_list {
                    color: white;
                    width: 100%;
                    border-collapse:separate
                }

                .full_table_list th {
                    background-color: rgb(51, 51, 51);
                    color: rgb(255, 255,255);
                }

                .full_table_list tbody tr:nth-child(even) {
                    background-color: #A0A0A0;
                }

                .full_table_list tbody tr:nth-child(odd) {
                    background: #707070;
                }

                .colunaFornecedor {
                    width: 35%;
                }
                .outrasColunas {
                    width: 13%
                }
                .colunaNumerica {
                    text-align: right
                }
                .colunaTexto {
                    text-align: left;
                }
            </style>

        </head>
    <body>
        <div id="todaPagina">
            @*<a class="blue" href="#">Mostrar configurações</a>*@
            <div id="showDiv" style="height: 0.5em"></div>
            <div id="configuracaoDoMonitor" style="background-color: #efeeef">
                <fieldset>
                    <legend>Configuração</legend>
                    @Html.LinhaComUmaColuna(new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, int>(x => x.InterValoDeAtualizacao, "campopequeno masknumerointeiro"))
                </fieldset>
                <form id="filtrosDoMonitor">

                    <fieldset class="divFiltros">
                        <legend>Agrupamentos</legend>
                        <div class="linha">
                            <div class="colunaComUmTercoDaLinha">
                                @Html.Label("Fornecedor da Mercadoria", new { @class = "labelNaLinha" })
                                @Html.CheckBox("FornecedorDaMercadoria")
                            </div>
                            <div class="colunaComUmTercoDaLinha">
                                @Html.Label("Número do Contrato", new { @class = "labelNaLinha" })
                                @Html.CheckBox("NumeroDoContrato")
                            </div>
                            <div class="colunaComUmTercoDaLinha">
                                @Html.Label("Número da Ordem de Transporte", new { @class = "labelNaLinha" })
                                @Html.CheckBox("NumeroDaOrdemDeTransporte")
                            </div>
                        </div>
                        <div class="linha">
                            <div class="coluna">
                                @Html.Label("Município de Origem", new { @class = "labelNaLinha" })
                                @Html.CheckBox("MunicipioDeOrigem")
                            </div>
                            <div class="coluna">
                                @Html.Label("Município de Destino", new { @class = "labelNaLinha" })
                                @Html.CheckBox("MunicipioDeDestino")
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>Filtros</legend>
                        @Html.LinhaComDuasColunas(new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                            (x => x.CodigoDoMaterial, "campopequeno"),
                            new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                                (x => x.DescricaoDoMaterial, "campogrande"))
                        @Html.LinhaComDuasColunas(new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                            (x => x.CodigoDoFornecedorDaMercadoria, "campopequeno"),
                            new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                                (x => x.NomeDoFornecedorDaMercadoria, "campogrande"))
                        @Html.LinhaComDuasColunas(new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                            (x => x.CodigoDaTransportadora, "campopequeno"),
                            new ColunaComTextBox<MonitorOrdemDeTransporteParametroVm, string>
                                (x => x.NomeDaTransportadora, "campogrande"))

                        <div class="linha">
                            <div class="coluna">
                                @Html.HiddenFor(x => x.CodigoDoMunicipioDeOrigem)
                                @Html.LabelFor(x => x.CodigoDoMunicipioDeOrigem)
                                @Html.TextBox("NomeDoMunicipioDeOrigem", "", new { @class = "campogrande" })
                            </div>
                            <div class="coluna">
                                @Html.HiddenFor(x => x.CodigoDoMunicipioDeDestino)
                                @Html.LabelFor(x => x.CodigoDoMunicipioDeDestino)
                                @Html.TextBox("NomeDoMunicipioDeDestino", "", new { @class = "campogrande" })
                            </div>
                        </div>



                    </fieldset>
                    <div class="divBotao">
                        <button class="blue" id="btnAtualizarMateriais">Atualizar</button>
                    </div>

                </form>
                
            </div>
            <table class="full_table_list">
                <thead>
                    <tr>
                        <th class="outrasColunas"></th>
                        <th class="colunaFornecedor"></th>
                        <th class="outrasColunas">Liberado</th>
                        <th class="outrasColunas">Em Trânsito</th>
                        <th class="outrasColunas">Chegada Hoje</th>
                        <th class="outrasColunas">Pendente</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: materiais">
                    <tr>
                        <td data-bind="text: Material"></td>
                        <td data-bind="text: Fornecedor"></td>
                        <td class="colunaNumerica" data-bind="text: Globalize.format(QuantidadeLiberada,'n3')"></td>
                        <td class="colunaNumerica" data-bind="text: Globalize.format(QuantidadeEmTransito,'n3')"></td>
                        <td class="colunaNumerica" data-bind="text: Globalize.format(PrevisaoDeChegadaNoDia,'n3')"></td>
                        <td class="colunaNumerica" data-bind="text: Globalize.format(QuantidadePendente, 'n3')"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/globalize")
        @Scripts.Render("~/bundles/knockout")
        <script src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
        @*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.loadmask.js")"></script>*@
        @Scripts.Render("~/bundles/scriptsgerais")
        <script src="@Url.Content("~/Scripts/Shared/autoCompleteDeMunicipio.js")"></script>

        <script type="text/javascript">
            
            function ConfiguracaoDoMonitor() {

                var me = this;

                me.idDoIntervaloDeAtualizacao = undefined;

                me.materiais = ko.observableArray([]);

                ko.applyBindings(me);
                
                me.atualizarMateriais = function(novosMateriais) {
                    me.materiais().length = 0;
                    $.each(novosMateriais, function(indice, material) {
                        me.materiais().push(material);
                    });
                    me.materiais.valueHasMutated();
                };

                me.executarConsulta = function (interValoDeAtualizacao) {

                    $.ajax({
                        url: '@Url.Action("Listar", "MonitorDeOrdemDeTransporte")' + '?DataInicial=' + $('[name=DataInicial]').val() + '&DataFinal=' + $('[name=DataFinal]').val(),
                        type: 'GET',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json'
                    }).done(function (data) {
                        if (data.Sucesso) {
                            me.atualizarMateriais(data.Materiais);
                            if (interValoDeAtualizacao) {
                                me.idDoIntervaloDeAtualizacao = setInterval(me.executarConsulta,interValoDeAtualizacao * 1000);
                            }
                        } else {
                            Mensagem.ExibirMensagemDeErro(data.Mensagem);
                        }
                        })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            trataFalhaEmRequisicoesAjax(jqXHR);
                        });
                };


                me.recarregarDadosDoMonitor = function (interValoDeAtualizacao) {
                    var idDoIntervalo = me.idDoIntervaloDeAtualizacao;
                    if (idDoIntervalo) {
                        clearInterval(idDoIntervalo);
                    }

                    me.executarConsulta(interValoDeAtualizacao);

                };

            }

            var configuracaoDoMonitor = new ConfiguracaoDoMonitor();
            
            $(function () {
                
                criarAutoCompleteDeMunicipio('#CodigoDoMunicipioDeOrigem', '#NomeDoMunicipioDeOrigem');
                criarAutoCompleteDeMunicipio('#CodigoDoMunicipioDeDestino', '#NomeDoMunicipioDeDestino');

                aplicaMascaraInteiro();
                
                $.validator.unobtrusive.parse(".divFiltros");

                $('#btnAtualizarMateriais').click(function (e) {
                    e.preventDefault();
                    if (!$("#filtrosDoMonitor").validate().form()) {
                        return;
                    }
                    configuracaoDoMonitor.recarregarDadosDoMonitor(parseInt($('#InterValoDeAtualizacao').val()));
                });

                $('#configuracaoDoMonitor').mouseleave(function() {
                    $(this).toggle("slide", {direction:"drop"});
                });

                $('#showDiv').mouseenter(function() {
                    $('#configuracaoDoMonitor').toggle("drop", { direction: "up" });
                });

                //configuracaoDoMonitor.recarregarDadosDoMonitor(parseInt($('#InterValoDeAtualizacao').val()));

            });
        </script>
    </body>

</html>


