@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model OrdemDeTransporteListagemFiltroVm
@{
    ViewBag.TituloDaPagina = "Ordens de Transporte";
}
@section styles{
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
}

<fieldset class="divFiltros">
    <legend>Filtros</legend>
    <form>
        @Html.LinhaComDuasColunas(new ColunaComTextBox<OrdemDeTransporteListagemFiltroVm, string>(x => x.CodigoDaTransportadora,"campomedio"),
        new ColunaComTextBox<OrdemDeTransporteListagemFiltroVm, string>(x => x.NomeDaTransportadora,"campogrande"))
        @Html.LinhaComDuasColunas(new ColunaComTextBox<OrdemDeTransporteListagemFiltroVm, int?>(x => x.NumeroDaOrdemDeTransporte, "campomedio masknumerointeiro"),
                          new ColunaComTextBox<OrdemDeTransporteListagemFiltroVm, string>(x => x.NumeroDoContrato, "campopequeno"))
        
        <div class="linha">
            <div class="coluna">
                @Html.HiddenFor(x => x.CodigoDoMunicipioDeOrigem)
                @Html.LabelFor(x => x.CodigoDoMunicipioDeOrigem)
                @Html.TextBox("NomeDoMunicipioDeOrigem", "",new {@class = "campogrande" })
            </div>
            <div class="coluna">
                @Html.LabelFor(x => x.NomeDoFornecedorDaMercadoria)
                @Html.TextBoxFor(x => x.NomeDoFornecedorDaMercadoria, new { @class = "campogrande" })
            </div>

        </div>
        @Html.LinhaComDuasColunas(new ColunaComDropDown<OrdemDeTransporteListagemFiltroVm, string>(x => x.CodigoDoTerminal,
                ((List<TerminalCadastroVm>)ViewBag.Terminais)
                .Select(x => new SelectListItem() { Text = x.Nome, Value = Convert.ToString(x.Codigo), Selected = Model != null && x.Codigo == Model.CodigoDoTerminal }),
                         "CodigoDoTerminal"), new ColunaVazia<OrdemDeTransporteListagemFiltroVm, object>())


        @{
            Html.RenderPartial("_BotoesDeFiltro");
        }
    </form>
</fieldset>
<div id="gridOrdemDeTransporte" class="divGrid"></div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Shared/autoCompleteDeMunicipio.js")"></script>
    <script>
        $(document).ready(function () {
            
            criarAutoCompleteDeMunicipio('#CodigoDoMunicipioDeOrigem', '#NomeDoMunicipioDeOrigem');

            aplicaMascaraInteiro();
            $("#gridOrdemDeTransporte").customKendoGrid({
                dataSource: {
                    schema: {
                        data: 'registros',
                        model: {
                            id: 'Id',
                            fields: {
                                Id: { type: "number" },
                                Material: { type: "string" },
                                CodigoDoFornecedor: { type: "string" },
                                NomeDoFornecedor: { type: "string" },
                                QuantidadeLiberada: { type: "number" },
                                QuantidadeColetada: { type: "number" },
                                QuantidadeRealizada: { type: "number" }
                            }
                        },
                        total: 'totalCount',
                        type: 'json'
                    },
                    transport: {
                        read: {
                            url: '@Url.Action("Listar", "OrdemDeTransporte")',
                            type: 'GET',
                            cache: false,
                            data: function() {
                                return $('form').serializeObject();
                            }
                        }
                    }
                },
                scrollable: true,
                columns:
                [
                    {
                        title: ' ',
                        width: 30,
                        sortable: false,
                        template: '<input type="button" class="button_edit"></input>',
                        attributes: {
                            "class": "action-column"
                        }
                    },
                    {
                        field: "Id",
                        width: 60,
                        title: "Nº Ordem"
                    }, {
                        field: "Material",
                        width: 120,
                        title: "Material"
                    },
                    {
                        width: 80,
                        field: "CodigoDoFornecedor",
                        title: "Código"
                    },
                    {
                        width: 200,
                        field: "NomeDoFornecedor",
                        title: "Fornecedor"
                    },
                    {
                        width: 70,
                        field: "QuantidadeLiberada",
                        title: "Liberada",
                        format: "{0:n3}"
                    },
                    {
                        width: 70,
                        field: "QuantidadeColetada",
                        title: "Coletada",
                        format: "{0:n3}"
                    },
                    {
                        width: 80,
                        field: "QuantidadeRealizada",
                        title: "Descarregada",
                        format: "{0:n3}"
                    }
                ]
            });

            $("#gridOrdemDeTransporte").off('click', '.button_edit');
            $("#gridOrdemDeTransporte").on("click", '.button_edit', function(e) {
                e.preventDefault();
                var grid = $("#gridOrdemDeTransporte").data("kendoGrid");
                var ordemDeTransporte = grid.obterRegistroSelecionado();
                location.href = '@Url.Action("Cadastro", "OrdemDeTransporte")' + '/?id=' + ordemDeTransporte.Id;
            });

        });
    </script>

}