@using BsBios.Portal.UI.Helpers
@using BsBios.Portal.ViewModel
@model OrdemDeTransporteListagemFiltroVm
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
<fieldset class="divFiltros">
    <legend>Filtros</legend>
    <form>
        @Html.LinhaComDuasColunas(new ColunaComTextBox<OrdemDeTransporteListagemFiltroVm, string>(x => x.CodigoDoFornecedor,"campomedio"),
        new ColunaComTextBox<OrdemDeTransporteListagemFiltroVm, string>(x => x.NomeDoFornecedor,"campogrande"))
        @Html.LinhaComUmaColuna(new ColunaComTextBox<OrdemDeTransporteListagemFiltroVm, int?>(x => x.NumeroDaOrdemDeTransporte, "campomedio masknumerointeiro"))

        @{
            Html.RenderPartial("_BotoesDeFiltro");
        }
    </form>
</fieldset>
<div id="gridOrdemDeTransporte" class="divGrid"></div>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/scriptsGerais.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script>
        $(document).ready(function () {

            aplicaMascaraInteiro();
            $("#gridOrdemDeTransporte").customKendoGrid({
                dataSource: {
                    schema: {
                        data: 'registros',
                        model: {
                            id: 'Id',
                            fields: {
                                Id: { type: "number" },
                                Material: { type: "string" },
                                CodigoDoFornecedor: { type: "string" },
                                NomeDoFornecedor: {type: "string"},
                                QuantidadeColetada: { type: "number" },
                                QuantidadeLiberada: { type: "number" },
                            }
                        },
                        total: 'totalCount',
                        type: 'json'
                    },
                    transport: {
                        read: {
                            url: '@Url.Action("Listar","OrdemDeTransporte")',
                            type: 'GET',
                            cache: false,
                            data: function() {
                                return {
                                    CodigoDoFornecedor: $('#CodigoDoFornecedor').val(),
                                    NomeDoFornecedor: $('#NomeDoFornecedor').val(),
                                    NumeroDaOrdemDeTransporte: $('#NumeroDaOrdemDeTransporte').val()
                                };
                            }
                        }
                    }
                },
                scrollable:true,
                columns:
                [
                    {
                        title: ' ',
                        width: 40,
                        sortable: false,
                        template: '<input type="button" class="button_edit"></input>'
                    },
                    {
                        field: "Id",
                        width: 60,
                        title: "Nº Ordem"
                    }, {
                        field: "Material",
                        width: 200,
                        title: "Material"
                    },
                    {
                        width: 60,
                        field: "CodigoDoFornecedor",
                        title: "Código"
                    },
                    {
                        width: 200,
                        field: "NomeDoFornecedor",
                        title: "Fornecedor"
                    },
                    {
                        width: 80,
                        field: "QuantidadeLiberada",
                        title: "Liberada"
                    },
                    {
                        width: 80,
                        field: "QuantidadeColetada",
                        title: "Coletada"
                    },

                ]
            });

            $("#gridOrdemDeTransporte").off('click', '.button_edit');
            $("#gridOrdemDeTransporte").on("click",'.button_edit', function(e) {
                e.preventDefault();
                var grid = $("#gridOrdemDeTransporte").data("kendoGrid");
                var ordemDeTransporte = grid.obterRegistroSelecionado();
                location.href = '@Url.Action("Cadastro","OrdemDeTransporte")' + '/?id=' + ordemDeTransporte.Id ;
            });

        });
    </script>

}